<%= render :partial => 'dosomething/main_navbar' %>


<div class="container container_st">
<div class="Header signup_hearder">Sign up</div>

<div class="signup_content">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field login_box marginfield">
    <%= f.label :email %> </br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field marginfield">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %> </br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field marginfield">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions marginfield signupbtn">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>


<%= render :partial => 'dosomething/main_footer' %>

<style>
.signupbtn input { border: none;
                  width: 70px;
                  height: 30px;
                  background-color: #10253F;
                  color: white;
                  font-size: 16px;
                  border-radius: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
                
.container_st {margin-top: 110px;
              padding-bottom: 20px;
              border: 2px solid #10253F;
              margin-bottom:110px;
              width: 500px; height: 350px;
              padding-left:0px; padding-right:0px;
              border-radius: 3px;
              }
.signup_hearder {
                background-color: #10253F;
                color: white;
                text-align: center;
                font-size: 25px;
                }
                
.signup_content {
                margin: auto;
                text-align: center;
                margin-top:20px;
                }
                
.marginfield {margin-bottom:10px;}
</style>