<%
#"name LIKE \"%#{@s_word}%\""
    
   a = Date.parse("#{@year}-#{@month}-#{@day}")#.compact('')
   # a = Date.parse("#{2015}-#{9}-#{1}")#.compact('')
  
  #a = a.delete_if {|x| x == " "}
  unless @s_word.nil?
    @b = Bongsa.where("(date_recruit_start LIKE \"#{a}\" OR date_recruit_end LIKE \"#{a}\") AND name LIKE \"%#{@s_word}%\"")
  else
    @b = Bongsa.where("date_recruit_start LIKE \"#{a}\" OR date_recruit_end LIKE \"#{a}\"")
  end
  #@b = @b.where("")
%>

<!-- 반복 -->
<% @b.each do |x| %>
  <%#= @s_word unless @s_word.nil? %>
  <%# next if !(@s_word.nil?) && !(@b.name.include?(@s_word)) %>
  <!--<center><p class="calendar_day_info hvr-back-pulse -->
  <!--  <%#= "start_date " if x.date_recruit_start == a %>-->
  <!--  <%#= "end_date "if x.date_recruit_end == a %>-->
  <!--  <%#= "ck1 " if x.category_id == 1 %>-->
  <!--  <%#= "ck2 " if x.category_id == 2 %>-->
  <!--  <%#= "ck3 " if x.category_id == 3 %>-->
  <!--  <%#= "ck4 " if x.category_id == 4 %>-->
  <!--  <%#= "ck5 " if x.category_id == 5 %>-->
  <!--  ">-->
  <p class="calendar_day_info hvr-back-pulse 
    <% if x.date_recruit_start == a %>
    start_date 
    <% end %>
    <% if x.date_recruit_end == a %>
    end_date 
    <% end %>
    <% if x.category_id == 1 %>
    ck1 
    <% end %>
    <% if x.category_id == 2 %>
    ck2 
    <% end %>
    <% if x.category_id == 3 %>
    ck3 
    <% end %>
    <% if x.category_id == 4 %>
    ck4 
    <% end %>
    <% if x.category_id == 5 %>
    ck5 
    <% end %>
    "
    style="
    display: none;
    <% if x.date_recruit_start == a && @s_c == 1 %>
      <%= "display: inline-block;" %>
    <% elsif x.date_recruit_end == a && @e_c == 1 %>
      <%= "display: inline-block;" %>
    <% end %>
    <% if @ck0 == 1 %>
      <%= "display: inline-block;" %>
    <% else %>
      <% if x.category_id != 1 && @ck1 == 1 %>
        <%= "display: none;" %>
      <% elsif x.category_id != 2 && @ck2 == 1 %>
        <%= "display: none;" %>
      <% elsif x.category_id != 3 && @ck3 == 1 %>
        <%= "display: none;" %>
      <% elsif x.category_id != 4 && @ck4 == 1 %>
        <%= "display: none;" %>
      <% elsif x.category_id != 5 && @ck5 == 1 %>
        <%= "display: none;" %>
      <% end %>
    <% end %>
    
    
    "
    >

    <% if x.date_recruit_start == a %>
      <span class="date_start">
        <b><%= "시"  %></b>
      </span>
    <% end %>
    <% if x.date_recruit_end == a %>
      <span class="date_end">
       <b><%= "마" %></b>
      </span>
    <% end %>
    <a href="/home/bongsa_information/<%= x.id %>">
      <%= x.name %>
    </a>
  </p>
<% end %>
<!--여까지 -->

