
<% 
  @day = params[:day] if !params[:day].nil? && params[:day]!="empty"
  @month = params[:month] if !params[:month].nil? && params[:month]!="empty"
  @year = params[:year] if !params[:year].nil? && params[:year]!="empty"
  @ck = params[:ck] if !params[:ck].nil? && params[:ck]!="empty"
  @s_word = params[:s_word] if !params[:s_word].nil? && params[:s_word]!="empty"
%>

<% @day = @day.nil? ? 20 : @day %>

<%
  @year = @year.to_i
  @month = @month.to_i
  @day = @day.to_i
  
  @date=Date.new(@year,@month,@day)
  
  while !@date.sunday?
    @date=@date.prev_day(1)
  end
  
%>

<%
  @date_p=@date.prev_day(7)
  @year1=@date_p.year
  @month1=@date_p.month
  @day1=@date_p.day
  
  mday=Date.new(@year,@month,-1).day
  
  @date_n=@date.next_day(7)
  @year2=@date_n.year
  @month2=@date_n.month
  @day2=@date_n.day
%>

<%= render :partial => 'script/calendar' %>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="row">
    <center>
      <p class="index_calendar_title">
        <button id="prev_" onclick="refresh(<%= @year1 %>,<%= @month1 %>,<%= @day1 %>);" class="calendar_arrow_btn">
          <img class="index_calendar_title_arrow" src="/img/ic/ic_calendar_previous.png"/>
        </button>
        <%= @year %>.<%= @month %>
        <button id="next_" onclick="refresh(<%= @year2 %>,<%= @month2 %>,<%= @day2 %>);" class="calendar_arrow_btn">
          <img class="index_calendar_title_arrow" src="/img/ic/ic_calendar_next.png"/>
        </button>
      </p>
    </center>
    </div>
    <!--<div class="col-md-5 col-sm-5">-->
    <!--  <button id="prev_" style="font-size: 25px;background-color: #ffffff; border: none; float: right" onclick="refresh(<%= @year1 %>,<%= @month1 %>,<%= @day1 %>);">-->
    <!--    <img src="/img/ic/ic_calendar_previous.png"/>-->
    <!--  </button>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-2">-->
    <!--  <span style="font-size: 40px;"><center><%= @year %>.<%= @month %></center></span>-->
    <!--</div>-->
    <!--<div class="col-md-5 col-sm-5">-->
    <!--  <button id="next_" style="font-size: 25px;background-color: #ffffff; border: none;" onclick="refresh(<%= @year2 %>,<%= @month2 %>,<%= @day2 %>);">-->
    <!--    <img src="/img/ic/ic_calendar_next.png"/>-->
    <!--  </button>-->
    <!--</div>-->
  </div>
</div>
<!--하루섹션(요일)-->
<div class="row">
  <% ['SUN', 'MON', 'TUE', 'WED', 'THR', 'FRI', 'SAT'].each do |x| %>
    <div class="col-7" style="background: #ffffff;">
      <center><p class="calendar_day"><%= x %></p></center>
    </div>
  <% end %>
</div>
<!--하루섹션(요일) 끝-->
<!--하루섹션(날짜)-->
<div class="row" style="border-bottom: 1px solid black;">
  <%# i = 0 %>
  <% (0..6).to_a.each do |x| %>
    <% tmp = @date.next_day(x) %>  
    <% 
      @day = tmp.day
    %>
    <%#= render partial: 'day' %>
  <div class="col-7" style="background: #ffffff;">
    <center><p class="calendar_date"><%= @day %></p></center>
  </div>
  <% end %>
</div>
<!--하루섹션(날짜) 끝-->


<!--캘린더 안 봉사 내용-->
<div>
  <!-- 여기부터 7번 반복 -->
  
  <% (0..6).to_a.each do |x| %>
    <div class="col-7 calendar_content_background">
      <% tmp = @date.next_day(x) %>  
      <% 
        @year = tmp.year
        @month = tmp.month
        @day = tmp.day
      %>
      <%= render partial: 'day_info' %>
    </div>
  <% end %>
  <!-- 777777777 -->
</div>
<!--<div style="display:none;" onload="r_filter();"></div>-->