<% 
  #day = params[:day] if !params[:day].nil? && params[:day]!="empty"
  month = params[:month].to_i if !params[:month].nil? && params[:month]!="empty"
  year = params[:year].to_i if !params[:year].nil? && params[:year]!="empty"
  #month = @month
  #year = @year
%>

<%#= params[:month] %>
<%#= @month %>
<%#= @year %>

<%
  if (month.nil? && year.nil?) #(day.nil? && month.nil? && year.nil?)
    date = Date.today
  else
    date = Date.new(year,month)
  end
  month = date.month
  #day = date.day
  year = date.year
  date = Date.new(year,month)
  #date2 = Date.new
  eday = date.end_of_month.day
  j=2
  date3 = date
  while !date.sunday?
    date = date.prev_day(1)
    j+=1
  end
%>

<div class="small-calendar-title">
  <span class="current ng-binding" ng-bind="date | date:'yyyy.MM'" style="padding-right: 25%;"><%= year.to_s + "년 " + month.to_s + "월"%></span>
  <% date2 = date3.prev_month(1) %>
  <a href="javascript:s_refresh(<%= date2.year %>,<%= date2.month %>)" style="text-decoration:none; color:#000000;padding-right: 2%;">
    <span class="prev" ng-click="addMonth(-1)"><span><img src="/img/ic_logo/small_arrow_left_16px.png" class="small_calendar_arrow"/></span></span>
  </a>
  <% date2 = date3.next_month(1) %>
  <a href="javascript:s_refresh(<%= date2.year %>,<%= date2.month %>)" style="text-decoration:none; color:#000000;">
    <span class="next" ng-click="addMonth(1)"><span><img src="/img/ic_logo/small_arrow_right_16px.png" class="small_calendar_arrow"/></span></span>
  </a>
</div>

<div class="small-calendar">
  <div class="small-calendar-body">
    <div class="dayname-container">
      <div class="row">
        <% ["일","월", "화", "수", "목", "금", "토"].each do |x| %>
          <div class="day-label name-of-days ng-binding ng-scope" ng-bind="dayname" ng-repeat="dayname in kor_daynames">
            <%= x %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% i = 1 %>
        <% while i != j+eday %>
          <div class="day-label days ng-binding ng-scope" ng-bind="day.date | date:'d'" ng-repeat="day in days" ng-class="{'in-range': day.in_range == true, 'start-in-range': day.start_in_range === true, 'end-in-range': day.end_in_range === true}">
            <% if date.month == month %>
              <a href="javascript:refresh(<%= date.year.to_s + "," + date.month.to_s + "," + date.day.to_s %>)" style="color:#000000;">
                <%= date.day %>
              </a>
            <% end %>
            <% date = date.next_day(1) %>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>