<%= render :partial => 'home/main_navbar_general' %>

<%= render :partial => 'filter' %>

<!--봉사유형 선택	-->

<!--봉사세부달력-->
<div class="col-md-10" id="large" style="padding-left: 0px; padding-right: 0px; border-left: 1px solid black;">
  <%= render partial: "calendar/large" %>
</div>

<%= render :partial => 'script/calendar_index' %>
<%#= render :partial => 'style/bongsa_calendarcss' %>
<%= render :partial => 'home/main_footer' %>