<%= render :partial => 'home/main_navbar' %>


<br>
<br>
<br>

<!--봉사시간 입력 테두리-->
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <strong>내가 찜한 봉사</strong>  
          </h4>
        </div>
        
        <table class="table table-fixed">
          <tbody>
          
            <!--신청내역버튼-->
            
                <tr>
                  <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      찜+신청 리스트보기 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <% @my_bongsa_in_bucket.each do |bb| %>
                      <li><a href="/baguni/timemanage/<%= bb.id %>"><%= bb.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </tr>
           
            <!--신청내역버튼-->
                  
                  
            <!--봉사시간 입력-->
            <% unless params[:id] == 0 || params[:id].nil? %>
              <% mb = @my_bongsa_in_bucket %>
              <% c = Bucket.find(params[:id]) %>
              <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px; margin-top:30px; margin-bottom: 30px; padding-left: 0px; padding-right: 0px; margin-left: -10px;">
                <!-- div 내부에 nav?? --><!--세로로 떨어지는 li들을 가로로 정렬시키려고 넣었습니다-->
                <nav id="menu">    <!-- 이게 nav안하면 이상하게 나와요 테이블이 ㅠㅠ -->
                    <ul class="bog_list">
                      <form action = "/baguni/a_update/<%= c.id %>" method="POST">
            
                        <li>
                          <input type="text" placeholder="봉사명" class="menu_width" value="<%= mb.name %>" name="name">
                        </li>
                        <li>
                          <input type="text" placeholder="시행기관"  class="menu_width" value="<%= mb.org_name %>" name="org_name">
                        </li>
                        <li>
                          <input type="text" placeholder="활동내용" class="menu_width" value ="<%= mb.content %>" name="content">
                        </li>
                        <li>
                          <input type="text" placeholder="활동시작일" class="menu_width" value="<%= mb.date_real_start %>" name="t_start">
                        </li>
                        <li>
                          <input type="text" placeholder="활동종료일" class="menu_width" value="<%= mb.date_real_end %>" name="t_end">
                        </li>
            
                        <li>
                          <% unless c.act_time.nil? %>
                          <input type="text" placeholder="시간" class="menu_width" value ="<%= c.act_time %>" name="act_time">
                          <% else %>
                          <input type="text" placeholder="시간" class="menu_width" value ="" name="act_time">
                          <% end %>
                        </li>
                        <li>
                          <input type="submit" value="등록" style="width: 50px; color: black;">
                        </li>
                      </form>
                    </ul>
                </nav>
              </div>
            
            <% else %>
              <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px; margin-top:30px; margin-bottom: 30px; padding-left: 0px; padding-right: 0px; margin-left: -10px;">
                <!-- div 내부에 nav?? --><!--세로로 떨어지는 li들을 가로로 정렬시키려고 넣었습니다-->
                <nav id="menu">    <!-- 이게 nav안하면 이상하게 나와요 테이블이 ㅠㅠ -->
                    <ul class="bog_list">
                      <form action = "/baguni/a_update?confirm=2" method="POST"><!-- 기존 값 없이 추가하는 경우 -->
            
                        <li>
                          <input type="text" placeholder="봉사명" class="menu_width" value="" name="name">
                        </li>
                        <li>
                          <input type="text" placeholder="시행기관"  class="menu_width" value="" name="org_name">
                        </li>
                        <li>
                          <input type="text" placeholder="활동내용" class="menu_width" value ="" name="content">
                        </li>
                        <li>
                          <input type="text" placeholder="활동시작일" class="menu_width" value="" name="date_real_start">
                        </li>
                        <li>
                          <input type="text" placeholder="활동종료일" class="menu_width" value="" name="date_real_end">
                        </li>
                        <li>
                        <li>
                          <input type="text" placeholder="시간" class="menu_width" name="act_time">
                        </li>
                        <li>
                          <input type="submit" value="등록" style="width: 50px; color: black;">
                        </li>
                      </form>
                    </ul>
                </nav>
              </div>
            <% end %>
            <!--봉사시간 입력-->
          </tbody>
       </table>
    </div>
  </div>
</div>

<!--봉사시간 입력 테두리-->




<!--봉사시간표-->
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <strong>실제 봉사 리스트</strong>  
          </h4>
        </div>
        
        
        <table class="table table-fixed">
          <thead>
            <tr>
              <th>봉사명</th>
              <th>시행기관</th>
              <th>활동내용</th>
              <th>활동시작일</th>
              <th>활동종료일</th>
              <th>시간</th>
              <th>기능</th>
            </tr>
          </thead>
          
          
          <tbody>
      
      <% @my_bongsa_in_bucket.each do |b| %>
      <% matched_bucket = @bongsa2.where(:target_bongsa_id => b.id).first %>
      <%# bv = Array.new
         matched_buckets.each do |v|
           next if v.user_id != current_user.id
           if v.user_id == current_user.id 
             bv << v
           end
         end 
         matched_bucket_only_mine = bv.first %>
      <%#if b.ctgory == 1
          bb << "벽화봉사"
         elsif b.ctgory == 2
          bb << "재능봉사"
         elsif b.ctgory == 3
          bb << "헌혈"
         else
          bb << "카테고리가 없습니다"
         end %>
      
          <tr>
            <th><%= b.name %></th>
            <th><%= b.org_name %></th>
            <th><%= b.content.first(25)+"..." %></th>
            <th><%= b.date_real_start %></th>
            <th><%= b.date_real_end %></th>
            <% unless b.act_time.nil? || b.act_time==0 %>
              <th><%= b.act_time %></th>
            <% else %>
              <th><a href="/baguni/timemanage/<%= matched_bucket.id %>">시간 입력하기</a></th>
            <% end %>
            <th>
              <%unless b.act_time.nil? || b.act_time==0%>
              <a href="/baguni/timemanage/<%= matched_bucket.id %>">[수정]</a><br><br>
              <%else%>
              <%end%>
              <a href="/baguni/bongsa_delete/<%= matched_bucket.id %>">[삭제]</a>
            </th>
          </tr>
      <% end %>
          <!--총 봉사시간-->  
          <tr>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td><strong>총 봉사시간&nbsp: </strong></td>
            <td><strong> 
              <% unless @total_time != "0" %> 
              <% else %>
              <%= @total_time %>시간<span class="glyphicon glyphicon-heart"></span>
              <% end %>
            </strong></td>
            <td>&nbsp</td>
          </tr> 
          <!--총 봉사시간-->
        </tbody>
       </table>
    </div>
  </div>
</div>
<!--봉사시간표-->


<%= render :partial => 'style/timemanagecss' %>

<%= render :partial => 'home/main_footer' %>

