<%= render :partial => 'home/main_navbar' %>

<br>
<br>
<br>

<!--찜한봉사-->
<div class="cart_title">
  <p style=>찜한봉사</p>
</div>

<% @buckets.each do |x| %>
<% y = Bongsa.find(x.target_bongsa_id) %>
<div class="cart_content_background">
  <div class="col-md-1">&nbsp</div>
  <div class="col-md-10 cart_content hvr-border-fade">
    <div class="row">
      <div class="col-md-2 cart_content_photo_block">
        <img src="/img/teamprofile/cw.jpg" class="cart_content_photo">
      </div>
      
      <div class="col-md-10">
        <div class="row" style="margin:0px;">
          <div class="col-md-9">
            <p class="cart_content_title"><strong><%= y.name %></strong></p>
            <span style="color:gray">
                기간 : <%= y.date_real_start %> ~ <%= y.date_real_end %>
            <br>장소 : <%= Region.find(y.region_id).name %>
            <br>봉사시간 : <%= y.time_expect_total %>
            </span>
          </div>
          <div class="col-md-3">
            <p class="cart_content_region"><strong><%= Organization.find(y.organization_id).name %></strong></p>
          </div>
        </div>
        <div class="row no-padding" style="margin:0px;padding-right:0px;">
          <div class="col-sm-6 col-md-7 col-lg-8">
            <p style="margin-top:2%"><%= y.content.first(30) %>...</p>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 no-padding">
            <a href="/baguni/delete/<%= x.id %>"><button class="cart_content_btn cart_content_button_cancel">&nbsp<span class="glyphicon glyphicon-remove"></span>&nbsp&nbsp취소&nbsp</button></a>
            <a href="/baguni/register/<%= x.id %>"><button class="cart_content_btn cart_content_button_register">&nbsp<span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp등록&nbsp</button></a>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br>
  <div class="col-md-1">&nbsp</div>
</div>
<% end %>
<!--찜한봉사-->
<br>&nbsp
<br>&nbsp
<br>&nbsp
<div class="cart_title">
  <p style=>실제봉사리스트</p>
</div>

<!--실제 봉사 리스트-->
<% @real_bongsas.each do |x| %>
<div class="cart_content_background">
  <div class="col-md-1">&nbsp</div>
  <div class="col-md-10 cart_content hvr-border-fade">
    <div class="row">
      <div class="col-md-2 cart_content_photo_block">
        <img src="/img/teamprofile/cw.jpg" class="cart_content_photo">
      </div>
      
      <div class="col-md-10">
        <div class="row" style="margin:0px;">
          <div class="col-md-9">
            <p class="cart_content_title"><strong><%= x.title %></strong></p>
            <span style="color:gray">
                기간 : <%= x.date_start %> ~ <%= x.date_end %>
            <br>장소 : <%= x.location %>
            <br>봉사시간 : <%= x.time_total %>
            </span>
          </div>
          <div class="col-md-3">
            <p class="cart_content_region"><strong><%= x.region %></strong></p>
          </div>
        </div>
        <div class="row no-padding" style="margin:0px;padding-right:0px;">
          <div class="col-sm-6 col-md-7 col-lg-8">
            <p style="margin-top:2%"><%= x.content %></p>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 no-padding">
            <a href="/baguni/delete/<%= x.id %>"><button class="cart_content_btn cart_content_button_cancel">&nbsp<span class="glyphicon glyphicon-remove"></span>&nbsp&nbsp취소&nbsp</button></a>
            <a href="/baguni/modify/<%= x.id %>"><button class="cart_content_btn cart_content_button_modify">&nbsp<span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp수정&nbsp</button></a>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <br>
  <div class="col-md-1">&nbsp</div>
</div>

<% end %>
  <br>
  <div class="col-md-1">&nbsp</div>
</div>

<!--실제 봉사 리스트-->


<br>&nbsp
<br>&nbsp
<br>&nbsp


<!--총 봉사시간-->
<div class="col-md-12 col-sm-12 col-xs-12 cart_title">
  <p style=>총 봉사시간</p>
</div>

<div class="col-md-12 cart_content_background">
<h1 style="text-align:center; margin-bottom:2%; color:#5fc0c7;"><strong>20시간</strong></h1>

</div>


<!--총 봉사시간-->


<br>
<br>
<br>
<br>
<br>
<br>

<!--봉사시간 입력 테두리-->

<%= render :partial => 'style/timemanagecss' %>

<%= render :partial => 'home/main_footer' %>

