<div class="well well-out">
  <form action="/admin/m_bongsa" enctype="multipart/form-data" method="POST" name="form_b" id="form_b">
    <input type="hidden" name="mod" value="<%= @mod %>">
    <input type="hidden" name="id" value="<%= @b.id %>">
    <div class="well well-in">
    <!--봉사활동명 시작-->
      <div class="form-group2">
        <div class="col-md-12">
          <label>봉사활동명</label>
          <input type="text" name="name" class="form-control" value="<%= @b.name %>" required />
        </div>
      </div>
    <!--봉사활동명 끝-->
        <div class="form-group2">
            <div class="col-md-12">
                <label>지역</label> &nbsp
                <select name="region_id">
                    <% Region.all.each do |x| %>
                        <% if @mod == "1" && @b.region_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% else %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    <% end %>
                </select> &nbsp&nbsp&nbsp&nbsp
                <label>주관대학</label> &nbsp
                <select name="school_id">
                    <% School.all.each do |x| %>
                        <% if @mod == "1" && @b.school_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% else %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    <% end %>
                </select> &nbsp&nbsp&nbsp&nbsp
                <label>봉사시간 분류</label> &nbsp
                <select name="btime_id">
                    <% Btime.all.each do |x| %>
                        <% if @mod == "1" && @b.btime_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% else %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    <% end %>
                </select> &nbsp&nbsp&nbsp&nbsp
                <label>분야</label> &nbsp
                <select name="category_id">
                    <% Category.all.each do |x| %>
                        <% if @mod == "1" && @b.category_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% else %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
        </div>
            <% if @mod=="1" %>
                <input type="hidden" value="<%= @b.admin_add %>" name="admin_add">
            <% else %>
                <input type="hidden" value="<%= current_user.email unless current_user.nil? %>" name="admin_add">
            <% end %>
            <br>
            <div class="form-group2">&nbsp</div>
            <div class="form-group2">
              <div class="col-md-12 col_padding">
                <div class="col-md-6">
                  <label>메인카드 이미지</label>
                  <input type="file" name="img_main" class="form-control" value="<%= @b.img_main %>" />
                </div>
                <div class="col-md-6">
                  <label>봉사활동 포스터 이미지</label>
                  <input type="file" name="img_poster" class="form-control" value="<%= @b.img_poster %>" />
                </div>
              </div>
            </div>
        
        <div class="form-group2">&nbsp</div>
        <div class="form-group2">
            <label>봉사기관</label>
            <select name="organization_id">
                <% unless @mod == "1" && @b.organization_id != nil %>
                    <option value="">선택안함</option>
                <% end %>
                <% Organization.all.each do |x| %>
                    <% if @mod == "1" && @b.organization_id == x.id %>
                        <option value="<%= x.id %>" selected><%= x.name %></option>
                    <% else %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% end %>
                <% end %>
            </select>
            <% if @mod != "1" %>
              <input type="text" name="org_name" placeholder="목록에 없는 경우에만 입력하세요">
            <% end %>
        </div>
                
        <div class="form-group2">
            <label>정기 / 비정기 봉사</label><br>
            <% if @mod == "1" && @b.is_regular == true %>
                <input type="radio" name="is_regular" value="1" checked/> 정기 봉사 &nbsp&nbsp
                <input type="radio" name="is_regular" value="0" /> 비정기 봉사
            <% elsif @mod == "1" && @b.is_regular == false %>
                <input type="radio" name="is_regular" value="1" /> 정기 봉사 &nbsp&nbsp
                <input type="radio" name="is_regular" value="0" checked/> 비정기 봉사
            <% else %>
                <input type="radio" name="is_regular" value="1" /> 정기 봉사 &nbsp&nbsp
                <input type="radio" name="is_regular" value="0" /> 비정기 봉사
            <% end %>
        </div> </br>
        
        
        <div class="form-group2">
          <label>총 봉사 예상시간</label><br>
          <input type="text" name="time_expect_total" class="form-control_line" value="<%= @b.time_expect_total %>" />&nbsp시간
        </div>
        
        <div class="form-group2" id="f_time">
            <%= render partial: 'm_bongsa_time' %>
        </div><br>

        
        <div class="form-group2">
          <label>신청하기 링크</label><br>
          <input type="text" name="link" class="form-control_line" value="<%#= @b.link %>" />
        </div>
        
        <div class="form-group2">
            <label>봉사활동 간략설명</label>
            <input type="text" name="summary" class="form-control form-control_line" value="<%= @b.summary %>" />
        </div></br>
        
       <div class="form-group2">
            <label>모집대상</label><br>
            <textarea class="form-control form-control_bongsa_information" name="vltr_req" cols="40" rows="5"><%= @b.vltr_req %></textarea>
        </div><br>
        
        <div class="form-group2">
            <label>모집인원</label><br>
            <input type="number" name="vltr_num" class="form-control_line" value="<%= @b.vltr_num %>" />&nbsp명
        </div><br>

        <div class="form-group2">
            <label>현재 신청인원</label><br>
            <input type="number" name="vltr_num2" class="form-control_line" value="<%= @b.vltr_num2 %>" />&nbsp명
        </div><br>
        
         <div class="form-group2">
          <div class="col-md-6">
            <label>모집기간</label><br>
              <input type="date" name="date_recruit_start" class="form-control_date" value="<%= @b.date_recruit_start %>" /> ~
              <input type="date" name="date_recruit_end" class="form-control_date" value="<%= @b.date_recruit_end %>" />
          </div>
          
          <div class="col-md-6">
              <label>봉사기간(전체)</label> <br>
              <input type="date" name="date_real_start" class="form-control_date" value="<%= @b.date_real_start %>" /> ~
              <input type="date" name="date_real_end" class="form-control_date" value="<%= @b.date_real_end %>" />
          </div>
        </div><br>
        
        <div class="form-group2" id="f_date">
            <%= render partial: 'm_bongsa_date' %>
        </div><br>
        
        <div class="form-group2">
            <label>상세주소(활동지역)</label><br>
            <input type="text" name="address" class="form-control form-control_line" value="<%= @b.address %>" />&nbsp
        </div><br>
        
        <div class="form-group2">
            <label>봉사활동 활동혜택</label>
            <textarea class="form-control form-control_bongsa_information" name="incentive" cols="40" rows="5"><%= @b.incentive %></textarea>
        </div></br>
        
        <div class="form-group2" id="f_link">
            <%= render partial: 'm_bongsa_link' %>
        </div>
        
        <div class="form-group2">
            <label>담당자이름</label>
            <input type="text" name="clerk_name" class="form-control" value="<%= @b.clerk_name %>" />
        </div>
        
        <div class="form-group2">
            <label>담당자연락처</label>
            <input type="text" name="clerk_call" class="form-control" value="<%= @b.clerk_call %>" />
        </div>
        
        <div class="form-group2">
            <label>담당자이메일</label>
            <input type="text" name="clerk_email" class="form-control" value="<%= @b.clerk_email %>" />
        </div>
        
        <div class="form-group2">
            <label>담당자링크</label>
            <input type="text" name="clerk_link" class="form-control" value="<%= @b.clerk_link %>" />
        </div>
        

        <div class="form-group2">
            <label>봉사활동 기타사항</label>
            <textarea class="form-control form-control_bongsa_information" name="content_etc" cols="40" rows="5"><%= @b.content_etc %></textarea>
        </div></br>
        

        
        <div class="form-group2">
            <label>인증서발급여부</label><br>
            <% if @mod == "1" && @b.is_approval == true %>
                <input type="radio" name="is_approval" value="1" checked/> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" /> X
            <% elsif @mod == "1" && @b.is_approval == false %>
                <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" checked/> X
            <% else %>
                <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" checked/> X
            <% end %>
        </div> </br>
        
        <div class="form-group2">
            <label>상시모집여부</label><br>
            <% if @mod == "1" && @b.is_recruit_always == true %>
                <input type="radio" name="is_recruit_always" value="1" checked/> O &nbsp&nbsp
                <input type="radio" name="is_recruit_always" value="0" /> X
            <% elsif @mod == "1" && @b.is_recruit_always == false %>
                <input type="radio" name="is_recruit_always" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_recruit_always" value="0" checked/> X
            <% else %>
                <input type="radio" name="is_recruit_always" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_recruit_always" value="0" /> X
            <% end %>
        </div> </br>

        <div class="form-group2">
            <label>사전교육 유/무</label><br>
            <% if @mod == "1" && @b.is_edu == true %>
                <input type="radio" name="is_edu" value="1" checked/> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" /> 없음
            <% elsif @mod == "1" && @b.is_edu == false %>
                <input type="radio" name="is_edu" value="1" /> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" checked/> 없음
            <% else %>
                <input type="radio" name="is_edu" value="1" /> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" /> 없음
            <% end %>
        </div><br>
        
        <div class="form-group2">
            <label>상태</label><br>
            <input type="radio" name="status" value="모집예정" <%= "checked" if (@mod == "1" && @b.status == "모집예정") || @mod.nil? || @mod=="0"  %>/> 모집예정
            <input type="radio" name="status" value="모집중" <%= "checked" if @mod == "1" && @b.status == "모집중" %>/> 모집중
            <input type="radio" name="status" value="모집종료" <%= "checked" if @mod == "1" && @b.status == "모집종료" %>/> 모집종료
        </div><br>
        
        <div class="form-group2">
            <label>등록자</label>
            <% if @mod=="1" %>
                <%= @b.admin_add %>
            <% else %>
                <%= current_user.email unless current_user.nil? %>
                <input type="hidden" value="<%= current_user.email unless current_user.nil? %>" name="admin_add">
            <% end %>
        </div>
        
        <div class="form-group2">
            <label>최근 수정자</label>
            <input type="text" value="<%= current_user.email unless current_user.nil? %>" name="admin_mod">
        </div>
        <div class="form-group2">
            <label>보이기설정</label><br>
            <% if @mod == "1" && !@b.is_visible %>
                <input type="radio" name="is_visible" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_visible" value="0" checked/> X
            <% else %>
                <input type="radio" name="is_visible" value="1" checked/> O &nbsp&nbsp
                <input type="radio" name="is_visible" value="0" /> X
            <% end %>
        </div><br>
    </div>
    
      
      
      <div class="row" align="right">
          <% if @mod == "1" %>
              <a class="btn btn-orange" href="/admin/del_bongsa?id=<%= @b.id %>">삭제</a>
              <input type="submit" value="수정" class="btn btn-orange" />
              <a class="btn btn-orange" href="/admin/index?admin=bongsa">취소</a>
          <% else %>
              <input type="submit" value="등록" class="btn btn-orange" />
              <a class="btn btn-orange" href="/admin/del_bongsa?id=<%= @b.id %>">취소</a>
          <% end %>                        
      </div>
  </form>
  </div>

        
    	<div class="row">
    		<hr class="feature-divider">
    	</div>
    </div>
	<div class="col-md-1"></div>
</div>

<style>
.main_img {width: 281px;
           height: 207px;}
.form-control_bongsa_information {height: 150px;}
.form-control_date {width: 34%;
                    height: 35px;}
.form-control_line {border: none;
                    border-bottom: 1px solid black;
                    height: 34px;}
.form-control_time {width: 42%;
                    height: 34px;}
* {text-align:left;}
.col_padding {padding-left: 0px; padding-right: 0px;}
select {width: 20%;
        height: 33px;}
.day_time{
    width:40%;
}
.day_head{
    width:40%;
}
</style>












<!--여기부터연습 내일 다시...-->
<%= render :partial => 'home/main_navbar_general' %>
<div class="col-md-12">&nbsp</div>
    <div class="col-md-12 col-sm-12">
      <p class="bongsa_sub_inform" style="width:25%">
        <strong>메인카드이미지</strong>
        <span class="bongsa_sub">
          <input type="file" name="img_main" class="form-control" value="<%= @b.img_main %>" />
        </span>
      </p>

      <p class="bongsa_sub_inform">
        <strong>모집기간</strong>
        <span class="bongsa_sub">
          <input type="date" name="date_recruit_start" class="form-control_date" style="width:14%" value="<%= @b.date_recruit_start %>" /> ~
          <input type="date" name="date_recruit_end" class="form-control_date" style="width:14%" value="<%= @b.date_recruit_end %>" />
        </span>
      </p>
      
      <p class="bongsa_sub_inform">
        <strong>활동기간</strong>
        <span class="bongsa_sub">
          <input type="date" name="date_real_start" class="form-control_date" style="width:14%" value="<%= @b.date_real_start %>" /> ~
          <input type="date" name="date_real_end" class="form-control_date" style="width:14%" value="<%= @b.date_real_end %>" />
        </span>
      </p>
      
      <p class="bongsa_sub_inform">
        <strong>봉사시간</strong>
        <span class="bongsa_sub">
          <input type="text" name="time_expect_total" class="form-control_line" style="width:4%" value="<%= @b.time_expect_total %>" />&nbsp시간
        </span>
      </p>
      
      <p class="bongsa_sub_inform">
        <strong>활동지역</strong>
        <span class="bongsa_sub">
          <input type="text" name="address" class="form-control form-control_line" style="width:24%" value="<%= @b.address %>"/>
        </span>
      </p>
      
      <p class="bongsa_sub_inform_confirm">
        <strong>인증서발급유무</strong>
        <span class="bongsa_sub_confirm">
          <% if @mod == "1" && @b.is_approval == 0 %>
              <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
              <input type="radio" name="is_approval" value="0" checked/> X
          <% else %>
              <input type="radio" name="is_approval" value="1" checked/> O &nbsp&nbsp
              <input type="radio" name="is_approval" value="0"/> X
          <% end %>
        </span>
      </p>
      
      <p class="bongsa_sub_inform">
        <strong>신청하기링크</strong>
        <span class="bongsa_sub">
          <input type="text" name="link" class="form-control_line" value="<%= @b.link %>" />
        </span>
      </p>
      
      <p class="bongsa_sub_inform">
        <strong>봉사간략설명</strong>
        <span class="bongsa_sub">
          <input type="text" name="summary" class="form-control form-control_line" value="<%= @b.summary %>">
        </span>
      </p>
    </div>
    
   
  <div class="col-md-2"></div>

  <center>
    <img src="/img/img_more_horizontal.png" class="info_more"/>
  </center>

  <div class="row col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category01_target.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>모집대상</strong></span>
        	<p class="section_text"><textarea class="form-control form-control_bongsa_information" name="vltr_req" cols="40" rows="5"><%= @b.vltr_req %></textarea></p><br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category02_hours.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>봉사시간</strong></span>
        	<p class="section_text">
            <div class="form-group2" id="f_time">
                <%= render partial: 'm_bongsa_time' %>
            </div><br>
        	</p><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category03_date.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>모집기간</strong></span>
        	<p class="section_text">위에서 입력함</p><br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category04_location.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>활동지역</strong></span>
        	<p class="section_text">위에서 입력함</p><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category05_activitydate.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>활동기간</strong></span>
        	<p class="section_text">
        	  <label>정기 / 비정기 봉사</label><br>
            <% if @mod == "1" && @b.is_edu == 0 %>
                <input type="radio" name="is_regular" value="1" /> 정기 봉사 &nbsp&nbsp
                <input type="radio" name="is_regular" value="0" checked/> 비정기 봉사
            <% else %>
                <input type="radio" name="is_regular" value="1" checked/> 정기 봉사 &nbsp&nbsp
                <input type="radio" name="is_regular" value="0"/> 비정기 봉사
            <% end %>
          </p><br>
        	
           <div class="form-group2" id="f_date">
            <%= render partial: 'm_bongsa_date' %>
           </div><br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category06_manager.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>담당자</strong></span>
        	<p class="section_text">
        	  <% unless @b.clerk_name.nil? %>
        	    <%= "이름 : " + @b.clerk_name %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_call.nil? %>
        	    <%= "연락처 : " + @b.clerk_call %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_email.nil? %>
        	    <%= "이메일 : " + @b.clerk_email %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_link.nil? %>
        	    <%= "링크 : " + @b.clerk_link %>
        	    <br>
        	  <% end %>
        	</p><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12 col-xs-12">
    <div class="col-md-10 col-xs-10">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category07_bonus.png"/>
        </div>
        <div class="section_contents_8">
        	<span class="section_title"><strong>활동혜택</strong></span>
        	<p class="section_text">
        	<% if @b.incentive.nil? %>
        	  -
        	<% else %>
        	  <%= @b.incentive %>
        	<% end %>
        	</p><br>
        <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12 col-xs-12">
    <div class="col-md-10 col-xs-10">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category08_link.png"/>
        </div>
        <div class="section_contents_8">
        	<span class="section_title"><strong>관련링크(클릭하면 해당 페이지로 이동합니다.)</strong></span>
        	<p class="section_text">
            <% @b.bongsa_links.each do |y| %>
              <a style="color:black;" href="<%= y.url %>"><%= y.name %></a><br>
            <% end %>
        	</p><br>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="row col-md-12 col-xs-12">
  <div class="col-md-10 col-xs-10">
    <div class="info_group">
      <div class="section_icon_area">
        <img class="ic_bongsa_inform" src="/img/ic_category/ic_category09_other.png"/>
      </div>
      <div class="section_contents_8">
      	<span class="section_title"><strong>기타사항</strong></span>
      	<p class="section_text">
      	<%= @b.content_etc %>
      	</p><br>
      </div>
      <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>

  <!--POSTER 시작-->
  <center>
   <!--<span class="info_title"><b>POSTER</b></span>-->
   <br class="info_line"><br>
  </center>
  <% unless @b.img_poster.to_s.length <= 1  %>
    <div class="col-md-12 slide slided_poster">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="<%= @b.img_poster %>" class="info_poster">
        </div>
        <div class="col-md-2"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
  <% else %>
    <!--<div class="col-md-12 slide slided_poster">-->
    <!--  <center>-->
    <!--    <h1 style="margin-bottom:3%; font-size:40px;">-->
    <!--        <b>해당 포스터가 없습니다</b>-->
    <!--    </h1>-->
    <!--  </center>-->
    <!--</div>-->
  <% end %>

<style>
.slided_img{
  background-image:url('<%= @b.img_main %>');
}
</style>
<!--POSTER 끝-->

