            
            <div class="well well-out">
                <%#= form_for @sb, url: {controller: 'admin', action:'add_sb'} do |f| %>
                <form action="/admin/m_bongsa" enctype="multipart/form-data" method="POST">
                    <input type="hidden" name="mod" value="<%= @mod %>">
                    <input type="hidden" name="id" value="<%= @b.id %>">
                    <div class="well well-in">
                        <%# unless @mod=="1" %>
                        
                            <div class="form-group2">
                            <div class="col-md-12">
                                <label>지역</label> &nbsp
                                <select name="region_id">
                                    <% Region.all.each do |x| %>
                                        <% if @mod == "1" && @b.region_id == x.id %>
                                            <option value="<%= x.id %>" selected><%= x.name %></option>
                                        <% else %>
                                            <option value="<%= x.id %>"><%= x.name %></option>
                                        <% end %>
                                    <% end %>
                                </select> &nbsp&nbsp&nbsp&nbsp
                                <label>주관대학</label> &nbsp
                                <select name="school_id">
                                    <% School.all.each do |x| %>
                                        <% if @mod == "1" && @b.school_id == x.id %>
                                            <option value="<%= x.id %>" selected><%= x.name %></option>
                                        <% else %>
                                            <option value="<%= x.id %>"><%= x.name %></option>
                                        <% end %>
                                    <% end %>
                                </select> &nbsp&nbsp&nbsp&nbsp
                                <label>봉사시간 분류</label> &nbsp
                                <select name="btime_id">
                                    <% Btime.all.each do |x| %>
                                        <% if @mod == "1" && @b.btime_id == x.id %>
                                            <option value="<%= x.id %>" selected><%= x.name %></option>
                                        <% else %>
                                            <option value="<%= x.id %>"><%= x.name %></option>
                                        <% end %>
                                    <% end %>
                                </select> &nbsp&nbsp&nbsp&nbsp
                                <label>분야</label> &nbsp
                                <select name="category_id">
                                    <% Category.all.each do |x| %>
                                        <% if @mod == "1" && @b.category_id == x.id %>
                                            <option value="<%= x.id %>" selected><%= x.name %></option>
                                        <% else %>
                                            <option value="<%= x.id %>"><%= x.name %></option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </div>
                            </div>
                            <% if @mod=="1" %>
                                <input type="hidden" value="<%= @b.admin_add %>" name="admin_add">
                            <% else %>
                                <input type="hidden" value="<%#= current_user.email %>" name="admin_add">
                            <% end %>
                            <br>
                            <div class="form-group2">&nbsp</div>
                            <div class="form-group2">
                              <div class="col-md-12 col_padding">
                                <div class="col-md-6">
                                  <label>메인카드 이미지</label>
                                  <input type="file" name="img_main" class="form-control" value="<%= @b.img_main %>" />
                                </div>
                                <div class="col-md-6">
                                  <label>봉사활동 포스터 이미지</label>
                                  <input type="file" name="img_poster" class="form-control" value="<%= @b.img_poster %>" />
                                </div>
                              </div>
                            </div>
                        <%# end %>
                        <div class="form-group2">
                          <div class="col-md-12">
                            <label>봉사활동명</label>
                            <input type="text" name="name" class="form-control" value="<%= @b.name %>" required />
                          </div>
                        </div>
                        <!--<div class="form-group2">-->
                        <!--        <label>기관명</label>-->
                        <!--        <input type="text" name="organization" class="form-control" value="<%= @b.organization_id %>" />-->
                        <!--    </div>-->
                        <div class="form-group2">&nbsp</div>
                        <div class="form-group2">
                            <label>봉사활동 상세내용</label>
                            <input type="text" name="content" class="form-control form-control_bongsa_information" value="<%= @b.content %>" />
                        </div></br>
                        
                        <div class="form-group2">
                            <label>상세주소</label><br>
                            <input type="text" name="address" class="form-control_line" value="<%= @b.address %>" />&nbsp
                        </div><br>
                        
                        <!--<div class="form-group2">-->
                        <!--    <label>정기 / 비정기</label>-->
                        <!--    <select name="is_regular">-->
                        <!--        <option value="0" <%# "selected" if @mod == "1" && @b.is_edu == 0 %>>비정기</option>-->
                        <!--        <option value="1" <%# "selected" if @mod == "1" && @b.is_edu == 1 %>>정기</option>-->
                        <!--    </select>-->
                        <!--</div>-->
                        
                        <div class="form-group2">
                            <label>정기 / 비정기 봉사</label><br>
                            <% if @mod == "1" && @b.is_edu == 0 %>
                                <input type="radio" name="is_regular" value="1" /> 정기 봉사 &nbsp&nbsp
                                <input type="radio" name="is_regular" value="0" checked/> 비정기 봉사
                            <% else %>
                                <input type="radio" name="is_regular" value="1" checked/> 정기 봉사 &nbsp&nbsp
                                <input type="radio" name="is_regular" value="0"/> 비정기 봉사
                            <% end %>
                        </div> </br>
                        
                        <div class="form-group2">
                            <label>인증서발급여부</label><br>
                            <% if @mod == "1" && @b.is_approval == 0 %>
                                <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
                                <input type="radio" name="is_approval" value="0" checked/> X
                            <% else %>
                                <input type="radio" name="is_approval" value="1" checked/> O &nbsp&nbsp
                                <input type="radio" name="is_approval" value="0"/> X
                            <% end %>
                        </div> </br>
                        
                        <div class="form-group2">
                          <div class="col-md-6">
                            <label>모집기간</label><br>
                              <input type="date" name="date_recruit_start" class="form-control_date" value="<%= @b.date_recruit_start %>" /> ~
                              <input type="date" name="date_recruit_end" class="form-control_date" value="<%= @b.date_recruit_end %>" />
                          </div>
                          <div class="col-md-6">
                              <label>봉사기간(전체)</label> <br>
                              <input type="date" name="date_real_start" class="form-control_date" value="<%= @b.date_real_start %>" /> ~
                              <input type="date" name="date_real_end" class="form-control_date" value="<%= @b.date_real_end %>" />
                          </div>
                        </div><br>
                        
                        <!--<div class="form-group2">-->
                        <!--    <label>모집시작일</label>-->
                        <!--    <input type="date" name="date_recruit_start" class="form-control" value="<%#= @b.date_recruit_start %>" />-->
                        <!--</div>-->
                        <!--<div class="form-group2">-->
                        <!--    <label>모집마감일</label>-->
                        <!--    <input type="date" name="date_recruit_end" class="form-control" value="<%#= @b.date_recruit_end %>" />-->
                        <!--</div>-->
                        <!--<div class="form-group2">-->
                        <!--    <label>봉사 실 시작일</label>-->
                        <!--    <input type="date" name="date_real_start" class="form-control" value="<%#= @b.date_real_start %>" />-->
                        <!--</div>-->
                        <!--<div class="form-group2">-->
                        <!--    <label>봉사 실 종료일</label>-->
                        <!--    <input type="date" name="date_real_end" class="form-control" value="<%#= @b.date_real_end %>" />-->
                        <!--</div>-->
                        <!--<div class="form-group2">-->
                        <!--    <label>봉사시간</label><br>-->
                        <!--    요일무관: <input type="text" name="time_daily_start" class="form-control_time"  value="<%#= @b.time_daily_start %>" /> ~-->
                        <!--    <input type="text" name="time_daily_end" class="form-control_time" value="<%#= @b.time_daily_end %>" /><br>-->
                        <!--    월: <input type="text" name="mon_time_daily_start" class="form-control_time" id="1" value="<%#= @b.time_daily_start1 %>"/> ~-->
                        <!--    <input type="text" name="mon_time_daily_end" class="form-control_time" id="8" value="<%#= @b.time_daily_end8 %>"/><br>-->
                        <!--    화: <input type="text" name="tue_time_daily_start" class="form-control_time" id="2" value="<%#= @b.time_daily_start2 %>"/> ~-->
                        <!--    <input type="text" name="tue_time_daily_end" class="form-control_time" id="9" value="<%#= @b.time_daily_end9 %>"/><br>-->
                        <!--    수: <input type="text" name="wed_time_daily_start" class="form-control_time" id="3" value="<%#= @b.time_daily_start3 %>"/> ~-->
                        <!--    <input type="text" name="wed_time_daily_end" class="form-control_time" id="10" value="<%#= @b.time_daily_end10 %>"/><br>-->
                        <!--    목: <input type="text" name="tur_time_daily_start" class="form-control_time" id="4" value="<%#= @b.time_daily_start4 %>"/> ~-->
                        <!--    <input type="text" name="tur_time_daily_end" class="form-control_time" id="11" value="<%#= @b.time_daily_end11 %>"/><br>-->
                        <!--    금: <input type="text" name="fri_time_daily_start" class="form-control_time" id="5" value="<%#= @b.time_daily_start5 %>"/> ~-->
                        <!--    <input type="text" name="fri_time_daily_end" class="form-control_time" id="12" value="<%#= @b.time_daily_end12 %>"/><br>-->
                        <!--    토: <input type="text" name="sat_time_daily_start" class="form-control_time" id="6" value="<%#= @b.time_daily_start6 %>"/> ~-->
                        <!--    <input type="text" name="sat_time_daily_end" class="form-control_time" id="13" value="<%#= @b.time_daily_end13 %>"/><br>-->
                        <!--    일: <input type="text" name="sun_time_daily_start" class="form-control_time" id="7" value="<%#= @b.time_daily_start7 %>"/> ~-->
                        <!--    <input type="text" name="sun_time_daily_end" class="form-control_time" id="14" value="<%#= @b.time_daily_end14 %>"/><br>-->
                        <!--</div><br>-->
                        
                        <div class="form-group2">
                            <label>봉사시간</label><br>
                            <table>
                                <tr>
                                    <td class="day_head">요일무관: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start" class="form-control_time"  value="<%= @b.time_daily_start %>" /> ~
                                        <input type="text" name="time_daily_end" class="form-control_time" value="<%= @b.time_daily_end %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">월: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_1" class="form-control_time"  value="<%= @b.time_daily_start_1 %>" /> ~
                                        <input type="text" name="time_daily_end_1" class="form-control_time" value="<%= @b.time_daily_end_1 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">화: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_2" class="form-control_time"  value="<%= @b.time_daily_start_2 %>" /> ~
                                        <input type="text" name="time_daily_end_2" class="form-control_time" value="<%= @b.time_daily_end_2 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">수: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_3" class="form-control_time"  value="<%= @b.time_daily_start_3 %>" /> ~
                                        <input type="text" name="time_daily_end_3" class="form-control_time" value="<%= @b.time_daily_end_3 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">목: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_4" class="form-control_time"  value="<%= @b.time_daily_start_4 %>" /> ~
                                        <input type="text" name="time_daily_end_4" class="form-control_time" value="<%= @b.time_daily_end_4 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">금: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_5" class="form-control_time"  value="<%= @b.time_daily_start_5 %>" /> ~
                                        <input type="text" name="time_daily_end_5" class="form-control_time" value="<%= @b.time_daily_end_5 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">토: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_6" class="form-control_time"  value="<%= @b.time_daily_start_6 %>" /> ~
                                        <input type="text" name="time_daily_end_6" class="form-control_time" value="<%= @b.time_daily_end_6 %>" />
                                    <td>
                                </tr>
                                <tr>
                                    <td class="day_head">일: </td>
                                    <td class="day_time">
                                        <input type="text" name="time_daily_start_7" class="form-control_time"  value="<%= @b.time_daily_start_7 %>" /> ~
                                        <input type="text" name="time_daily_end_7" class="form-control_time" value="<%= @b.time_daily_end_7 %>" />
                                    <td>
                                </tr>
                            </table>
                        </div><br>
                        
                        <!--<div class="form-group2">-->
                        <!--    <label>하루 시작 시각(hhmm)</label>-->
                        <!--    <input type="text" name="time_daily_start" class="form-control" value="<%= @b.time_daily_start %>" />-->
                        <!--</div>-->
                        <!--<div class="form-group2">-->
                        <!--    <label>하루 종료 시각(hhmm)</label>-->
                        <!--    <input type="text" name="time_daily_end" class="form-control" value="<%= @b.time_daily_end %>" />-->
                        <!--</div>-->
                        
                        <div class="form-group2">
                            <label>총 봉사 예상시간</label><br>
                            <input type="text" name="time_expect_total" class="form-control_line" value="<%= @b.time_expect_total %>" />&nbsp시간
                        </div>
                        <div class="form-group2">
                            <label>모집인원</label><br>
                            <input type="number" name="vltr_num" class="form-control_line" value="<%= @b.vltr_num %>" />&nbsp명
                        </div><br>
                        <div class="form-group2">
                            <label>사전교육 유/무</label><br>
                            <% if @mod == "1" && @b.is_edu == 1 %>
                                <input type="radio" name="is_edu" value="1" checked/> 있음 &nbsp&nbsp
                                <input type="radio" name="is_edu" value="0" /> 없음
                            <% else %>
                                <input type="radio" name="is_edu" value="1" /> 있음 &nbsp&nbsp
                                <input type="radio" name="is_edu" value="0" checked/> 없음
                            <% end %>
                        </div><br>
                        <!--<div class="form-group2">-->
                        <!--    <label>사전교육 유/무</label>-->
                        <!--    <select name="is_edu">-->
                        <!--        <option value="0" <%# "selected" if @mod == "1" && @b.is_edu == 0 %>>무</option>-->
                        <!--        <option value="1" <%# "selected" if @mod == "1" && @b.is_edu == 1 %>>유</option>-->
                        <!--    </select>-->
                        <!--</div>-->
                        <div class="form-group2">
                            <label>모집 특이조건</label><br>
                            <input type="text" name="vltr_req" class="form-control form-control_bongsa_information" value="<%= @b.vltr_req %>" />
                        </div><br>
                        <div class="form-group2">
                            <label>상태</label><br>
                            <input type="radio" name="status" value="0" <%= "checked" if @mod == "1" && @b.status == 0 %>/> 모집예정
                            <input type="radio" name="status" value="1" <%= "checked" if @mod == "1" && @b.status == 1 %>/> 모집중
                            <input type="radio" name="status" value="2" <%= "checked" if @mod == "1" && @b.status == 2 %>/> 모집종료
                        </div><br>
                        <!--<div class="form-group2">-->
                        <!--    <label>상태</label>-->
                        <!--    <select name="status">-->
                        <!--        <option value="0" <%# "selected" if @mod == "1" && @b.status == 0 %>>모집예정</option>-->
                        <!--        <option value="1" <%# "selected" if @mod == "1" && @b.status == 1 %>>모집중</option>-->
                        <!--        <option value="2" <%# "selected" if @mod == "1" && @b.status == 2 %>>모집종료</option>-->
                        <!--    </select>-->
                        <!--</div>-->
                        <div class="form-group2">
                            <label>지원가능 성별</label><br>
                            <input type="radio" name="vltr_sex" value="0" <%= "checked" if @mod == "1" && @b.vltr_sex == 0 %>/> 남
                            <input type="radio" name="vltr_sex" value="1" <%= "checked" if @mod == "1" && @b.vltr_sex == 1 %>/> 여
                            <input type="radio" name="vltr_sex" value="2" <%= "checked" if @mod == "1" && @b.vltr_sex == 2 %>/> 무관
                        </div><br>
                        <!--<div class="form-group2">-->
                        <!--    <label>지원가능 성별</label>-->
                        <!--    <select name="vltr_sex">-->
                        <!--        <option value="0" <%# "selected" if @mod == "1" && @b.vltr_sex == 0 %>>남</option>-->
                        <!--        <option value="1" <%# "selected" if @mod == "1" && @b.vltr_sex == 1 %>>여</option>-->
                        <!--        <option value="2" <%# "selected" if @mod == "1" && @b.vltr_sex == 2 %>>무관</option>-->
                        <!--    </select>-->
                        <!--</div>-->
                        <div class="form-group2">
                            <label>봉사기관</label>
                            <select name="organization_id">
                                <% Organization.all.each do |x| %>
                                    <% if @mod == "1" && @b.organization_id == x.id %>
                                        <option value="<%= x.id %>" selected><%= x.name %></option>
                                    <% else %>
                                        <option value="<%= x.id %>"><%= x.name %></option>
                                    <% end %>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group2">
                            <label>담당자이름</label>
                            <input type="text" name="clerk_name" class="form-control" value="<%= @b.clerk_name %>" />
                        </div>
                        <div class="form-group2">
                            <label>담당자연락처</label>
                            <input type="text" name="clerk_call" class="form-control" value="<%= @b.clerk_call %>" />
                        </div>
                        <div class="form-group2">
                            <label>담당자이메일</label>
                            <input type="text" name="clerk_email" class="form-control" value="<%= @b.clerk_email %>" />
                        </div>
                        
                        <div class="form-group2">
                            <label>모집연령</label>
                            <select name="vltr_age_id">
                                <% VltrAge.all.each do |x| %>
                                    <% if @mod == "1" && @b.vltr_age_id == x.id %>
                                        <option value="<%= x.id %>" selected><%= x.name %></option>
                                    <% else %>
                                        <option value="<%= x.id %>"><%= x.name %></option>
                                    <% end %>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group2">
                            <label>등록자</label>
                            <% if @mod=="1" %>
                                <%= @b.admin_add %>
                            <% else %>
                                <%= current_user.email unless current_user.nil? %>
                                <input type="hidden" value="<%= current_user.email unless current_user.nil? %>" name="admin_add">
                            <% end %>
                        </div>
                        
                        <div class="form-group2">
                            <label>최근 수정자</label>
                            <input type="text" value="<%= current_user.email unless current_user.nil? %>" name="admin_mod">
                        </div>
                    </div>
                    
                    <div class="row" align="right">
                        <% if @mod == "1" %>
                            <a class="btn btn-orange" href="/admin/del_bongsa?id=<%= @b.id %>">삭제</a>
                            <input type="submit" value="수정" class="btn btn-orange" />
                        <% else %>
                            <input type="submit" value="등록" class="btn btn-orange" />
                        <% end %>
                        <a class="btn btn-orange" href="/admin/index?admin=bongsa">취소</a>
                    </div>
                </form>
            </div>
        </div>
        
    	<div class="row">
    		<hr class="feature-divider">
    	</div>
    </div>
	<div class="col-md-1"></div>
</div>

<style>
.main_img {width: 281px;
           height: 207px;}
.form-control_bongsa_information {height: 150px;}
.form-control_date {width: 34%;
                    height: 35px;}
.form-control_line {border: none;
                    border-bottom: 1px solid black;
                    height: 34px;}
.form-control_time {width: 42%;
                    height: 34px;}
* {text-align:left;}
.col_padding {padding-left: 0px; padding-right: 0px;}
select {width: 15%;
        height: 33px;}
.day_time{
    width:300px;
}
.day_head{
    width:100px;
}
</style>