<%# if @moddd == 1 %>
<div class="well well-out">
    <div class="well well-in">
        <a href="/admin/bongsa_tmp" style="color:blue;"><b><%= @moddd %>목록업뎃(크롤링,파싱 단계)</b></a> --> <a href="/admin/bongsa_tmp?mod=10" style="color:blue;">준비된 목록</a>
        
        <div class="row" align="right">
            <a class="btn btn-orange" href="/admin/index" style="color:blue;">Admin Page로</a>
        </div>
        <div class="row" align="right">
            <a class="btn btn-orange" href="/admin/bongsa_tmp_save" style="color:blue;">목록 Crawlling!</a>
        </div>
    </div>
    
    <div class="well well-in">
        <table class="table" style="border-color: black;">
            <thead>
                <tr class="tr-head">
                    <td>#</td>
                    <td>봉사명</td>
                    <td>keytmp</td>
                    <td>업데이트 여부</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% Tempcrl.all.reverse.each do |post| %>
                    <tr class="tr-content">
                        <td><%= post.id %></td>
                        <td><a href="/admin/m_bongsa_tmp?id=<%= post.id %>&mod=1" style="color:blue;"><%= post.nametemp %></a></td>
                        <td>
                        <% if post.keytemp %>
                            <%= post.keytemp %>
                        <% else %>
                            None;
                        <% end %>
                        </td>
                        <td>
                        <% if post.is_registerd == 0 %>
                            작업 안됨
                        <% else %>
                            임시 업데이트 완료
                        <% end %>
                        </td>
                        <td>
                            <a href="/admin/bongsa_tmp_list_delete/<%= post.id %>" style="color:blue;">[X]</a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%# elsif @moddd == 10 %>
<div class="well well-out">
    <div class="well well-in">
        <a href="/admin/bongsa_tmp" style="color:blue;"><%= @moddd %>목록업뎃(크롤링,파싱 단계)</a> --> <a href="/admin/bongsa_tmp?mod=10" style="color:blue;"><b>준비된 목록</b></a>
        
        <div class="row" align="right">
            <a class="btn btn-orange" href="#" style="color:blue;">목록 was already Crawlled</a>
        </div>
    </div>
    
    <div class="well well-in">
        <table class="table" style="border-color: black;">
            <thead>
                <tr class="tr-head">
                    <td>id</td>
                    <td>봉사명</td>
                    <td>상태</td>
                    <td>수정</td>
                    <td>삭제</td>
                </tr>
            </thead>
            <tbody>
                <% BongsaTmp.all.reverse.each do |post| %>
                    <tr class="tr-content">
                        <td><%= post.id %></td>
                        <td><a href="/admin/modify_bongsa_tmp?id=<%= post.id %>&mod=1" style="color:blue;"><%= post.name %></a></td>
                        <td>
                            대기중 // <a href="/admin/crawled_realmodify/<%= post.id %>" style="color:blue;">ㄹㅇ업뎃ㄱ</a>
                        </td>
                        <td>
                            <a href="/admin/modify_bongsa_tmp?id=<%= post.id %>&mod=1" style="color:blue;">[M]</a>
                        </td>
                        <td>
                            <a href="/admin/del_bongsa_tmp/<%= post.id %>" style="color:blue;">[X]</a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%# end %>
