            <% @b = @re %>

<style>
/*.main_img {width: 281px;*/
/*           height: 207px;}*/
/*.form-control_bongsa_information {height: 150px;}*/
/*.form-control_date {width: 34%;*/
/*                    height: 35px;}*/
/*.form-control_line {border: none;*/
/*                    border-bottom: 1px solid black;*/
/*                    height: 34px;}*/
/*.form-control_time {width: 14%;*/
/*                    height: 34px;}*/
/** {text-align:left;}*/
/*.col_padding {padding-left: 0px; padding-right: 0px;}*/
/*select {width: 15%;*/
/*        height: 33px;}*/
</style>

<form action="/admin/crawled_realsave" enctype="multipart/form-data" method="POST">
    <%= render :partial => 'home/main_navbar_general' %>

    <!-- 이거슨 팝업창 !! -->
    <%# if flash[:alert].present? %>
      <!--<div class="col-md-12 alert alert-danger"><%#= flash[:alert] %></div>-->
    <%# end %>
    <!-- Tables ================================================== -->
    <div class="col-md-12 col-sm-12 continue slided_img" style="padding-right: 0px; background-size: cover; padding-top: 30%; padding-left: 0px;" background="<%=@b.img_main %>">
      <div class="col-md-12 col-sm-12" style="padding-bottom: 20px; padding-right: 0px; padding-top:1%; padding-left: 0px; background-color: rgba(0, 0, 0, 0.61);">
        <!--봉사명-->
        <div class="col-md-9 col-sm-9">
          <p class="m_title" style="margin-bottom:-8px;"><b><%= @b.name %></b></p>
          <input type="text" name="name" class="form-control" value="<%= @b.name %>" required style="width:50%; float:right; margin-top: 22px;"/>
          <div class="col-md-3 col-sm-3">
              <!--신청하기-->
              <a href="#">
                <button class="btn btn-block m_btn">
                    <b>신청하기</b>
                </button>
              </a>
          </div>
          <div class="col-md-3 col-sm-3">
              <a href="/baguni/bucket_save/<%= @b.id %>">
                  <button class="btn btn-block m_btn btn_side" style="background-color:#c75050;">
                      <b>찜하기</b>
                  </button>
              </a>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="col-md-3"></div>
        <div class="form-group2">
            <div class="col-md-12" style="margin-top: -100px; height: 160px;">
              <label style="text-align: left; padding-left: 2%;">**참고 : 아래의 필터는 실제로 보이는 부분이 아닙니다.</label>
                <div class="col-md-3" style="margin-top: -1%;">
                    <label>지역</label> &nbsp
                    <select name="region_id" style="color:black; width:90%;">
                        <% y = Region.find(@b.region_id) %>
                            <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                        <% Region.all.each do |x| %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    </select> &nbsp&nbsp&nbsp&nbsp
                </div>
                <div class="col-md-3" style="margin-top: -1%;">
                    <label>주관대학</label> &nbsp
                    <select name="school_id" style="color:black; width:90%;">
                        <% y = School.find(@b.school_id) %>
                            <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                        <% School.all.each do |x| %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    </select> &nbsp&nbsp&nbsp&nbsp
                </div>
                <div class="col-md-3" style="margin-top: -1%;">
                    <label>봉사시간 분류</label> &nbsp
                    <select name="btime_id" style="color:black; width:90%;">
                        <% y = Btime.find(@b.btime_id) %>
                            <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                        <% Btime.all.each do |x| %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    </select> &nbsp&nbsp&nbsp&nbsp
                </div>
                <div class="col-md-3" style="margin-top: -1%;">
                    <label>분야</label> &nbsp
                    <select name="category_id" style="color:black; width:90%;">
                        <% y = Category.find(@b.category_id) %>
                            <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                        <% Category.all.each do |x| %>
                            <option value="<%= x.id %>"><%= x.name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        </div>
      </div>
    </div>

<br>&nbsp</br>
<br>&nbsp</br>

<!--ABOUT 시작-->
<center>
 <span class="info_title"><b>ABOUT</b></span>
 <hr class="info_line"><br>
</center>

<div class="col-md-6 col-sm-6 col-xs-6 about_subtitle">
  <p style="margin-bottom: -6%;"><strong>모집기간</strong></p><br>
  <p style="margin-bottom: -6%;"><strong>봉사시간</strong></p><br>
  <p style="margin-bottom: -6%;"><strong>활동지역</strong></p></p><br>
  <p style="margin-top: 0%;"><strong>인증서발급유무</strong></p>
</div>
<% 
  #Date.new(2001,2,3)
  td = Date.today
  td = td - @b.date_recruit_end
  td = td.to_i
  
%>
<div class="col-md-6 col-sm-6 col-xs-6 about_content">
  <p style="margin-bottom: -6%; color: black"><%= @b.date_recruit_start %>~<%= @b.date_recruit_end %> (<%= "D" + td.to_s if td<0%> <%= "모집완료" if td>0%>)</p><br>
  <p style="margin-bottom: -6%; color: black"><%= @b.time_expect_total %></p><br>
  <p style="margin-bottom: -6%; color: black"><%= Region.find(@b.region_id).name %></p></p><br>
  <p style="margin-top: 0%; color: black">
    <%# if @b.is_approval == 1 %>
    <!--  O-->
    <%# else %>
    <!--  X-->
    <%# end %>
  </p>
</div>

<br>&nbsp</br>
<br>&nbsp</br>

<!--ABOUT 끝-->

<center>
  <img src="/img/img_more_horizontal.png" class="info_more"/>
</center>

<br>&nbsp</br>


<!--DETAILS 시작-->
<center>
 <span class="info_title"><b>DETAILS</b></span>
 <hr class="info_line"><br>
</center><br>


<div class="col-md-1"></div>
<div class="col-md-5 col-sm-12">
  <div class="info_group">
    <div class="section_icon_area">
    <img class="icon_img" src="/img/ic/ic_details_location.png"/>
  </div>
  <div class="section_side">
  	<div class="section_round">
  	</div>
  </div>
  <div class="section_contents">
  	<span class="section_title">지역</span>
  	<p class="section_text">&nbsp<%#= @b.address %></p><br>
  	<!--&nbsptext<br>-->
  </div>
  </div><br><br>

  <div class="info_group">
    <div class="section_icon_area">
      <img class="icon_img" src="/img/ic/ic_details_time.png"/>
    </div>
    <div class="section_side">
  	  <div class="section_round"></div>
    </div>
    <div class="section_contents">
    	<span class="section_title">봉사기간</span>
    	<p class="section_text">&nbsp<%= @b.date_real_start.to_s + " ~ " + @b.date_real_end.to_s %></p><br>
    	<!--&nbsptext<br>-->
    </div>
  </div><br><br>
  
  <div class="info_group">
    <div class="section_icon_area">
      <img class="icon_img" src="/img/ic/ic_details_requirement.png"/>
    </div>
    <div class="section_side">
  	  <div class="section_round"></div>
    </div>
    <div class="section_contents">
    	<span class="section_title">지원가능 상세조건</span>
    	<p class="section_text">&nbsp<%= @b.vltr_req %></p>
    	<!--&nbsptext<br>-->
    </div>
    
  </div>
</div>

<div class="col-md-5 col-sm-12">

  <div class="info_group section_title_sex">
    <div class="section_icon_area">
      <img class="icon_img" src="/img/ic/ic_details_sex.png"/>
    </div>
    <div class="section_side">
  	  <div class="section_round"></div>
    </div>
    <div class="section_contents">
    	<span class="section_title">지원가능 성별</span>
    	<p class="section_text">&nbsp
    	<%= "남" if @b.vltr_sex==0 %>
    	<%= "여" if @b.vltr_sex==1 %>
    	<%= "무관" if @b.vltr_sex==2 %>
    	</p><br>
    	<!--&nbsptext<br>-->
    </div>
  </div><br><br>
  
  <div class="info_group">
    <div class="section_icon_area">
      <img class="icon_img" src="/img/ic/ic_details_manager.png"/>
    </div>
    <div class="section_side">
  	  <div class="section_round"></div>
    </div>
    <div class="section_contents">
    	<span class="section_title">담당자 연락처</span><br>
    	<% unless @b.clerk_call.empty? %>
    	  <p class="section_text">&nbspcontact: <%= @b.clerk_call %>
    	<% end %>
    	<%# unless @b.clerk_call.empty? %>
    	  <br> &nbspemail: <%#= @b.clerk_email %></p><br>
    	<%# end %>
    </div>
  </div><br><br>
  
  <div class="info_group" style="margin-bottom:60px;">
    <div class="section_icon_area">
      <img class="icon_img" src="/img/ic/ic_details_info.png" class="info_icon"/>
    </div>
    <div class="section_side">
  	  <div class="section_round"></div>
    </div>
    <div class="section_contents">
    	<span class="section_title">상세내용</span>
    	<p class="section_text"><%= @b.content %></p>
    	<!--&nbsptext<br>-->
    	<!--&nbsptext<br>-->
    </div>
  </div>


</div>
<div class="col-md-1"></div>

<center>
  <img src="/img/img_more_horizontal.png" class="info_more"/>
</center>

<br>&nbsp</br>


<!--POSTER 시작-->
<center>
 <span class="info_title"><b>POSTER</b></span>
 <hr class="info_line"><br>
</center>
<% unless @b.img_poster.to_s.length <= 1  %>
  <div class="col-md-12 slide slided_poster">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img src="<%= @b.img_poster %>" class="info_poster">
      </div>
      <div class="col-md-2"></div>
      </div>
      <div class="col-md-1"></div>
  </div>
<% else %>
  <div class="col-md-12 slide slided_poster">
    <center>
      <h1 style="margin-bottom:3%; font-size:40px;">
          <b>해당 포스터가 없습니다</b>
      </h1>
    </center>
  </div>
<% end %>


<style>
.slided_img{
    background-image:url('<%= @b.img_main %>');
}
</style>
<!-- POSTER 끝 -->

<!-- footer랑 이미지랑 붙이려고 약간 바꿨어요 -->
<%= render :partial => 'home/main_footer' %>


<div class="well well-out">
    
        <input type="hidden" name="mod" value="<%= @mod %>">
        <input type="hidden" name="idd" value="<%= @b.id %>">
        <div class="well well-in">
            <div class="form-group2">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>지역</label> &nbsp
                        <select name="region_id" style="color:black; width:90%;">
                            <% y = Region.find(@b.region_id) %>
                                <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                            <% Region.all.each do |x| %>
                                <option value="<%= x.id %>"><%= x.name %></option>
                            <% end %>
                        </select> &nbsp&nbsp&nbsp&nbsp
                    </div>
                    <div class="col-md-3">
                        <label>주관대학</label> &nbsp
                        <select name="school_id" style="color:black; width:90%;">
                            <% y = School.find(@b.school_id) %>
                                <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                            <% School.all.each do |x| %>
                                <option value="<%= x.id %>"><%= x.name %></option>
                            <% end %>
                        </select> &nbsp&nbsp&nbsp&nbsp
                    </div>
                    <div class="col-md-3">
                        <label>봉사시간 분류</label> &nbsp
                        <select name="btime_id" style="color:black; width:90%;">
                            <% y = Btime.find(@b.btime_id) %>
                                <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                            <% Btime.all.each do |x| %>
                                <option value="<%= x.id %>"><%= x.name %></option>
                            <% end %>
                        </select> &nbsp&nbsp&nbsp&nbsp
                    </div>
                    <div class="col-md-3">
                        <label>분야</label> &nbsp
                        <select name="category_id" style="color:black; width:90%;">
                            <% y = Category.find(@b.category_id) %>
                                <option value="<%= y.id %>" selected="selected" ><%= y.name %></option>
                            <% Category.all.each do |x| %>
                                <option value="<%= x.id %>"><%= x.name %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
            </div>
            <% if @mod=="1" %>
                <input type="hidden" value="<%= @b.admin_add %>" name="admin_add">
            <% else %>
                <input type="hidden" value="<%= current_user.email %>" name="admin_add">
            <% end %>
            <br>
            <div class="form-group2">&nbsp</div>
            <div class="form-group2">
              <div class="col-md-12 col_padding">
                <div class="col-md-6">
                  <label>메인카드 이미지</label>
                  <input type="file" name="img_main" class="form-control" value="<%= @b.img_main %>" />
                </div>
                <div class="col-md-6">
                  <label>봉사활동 포스터 이미지</label>
                  <input type="file" name="img_poster" class="form-control" value="<%= @b.img_poster %>" />
                </div>
              </div>
            </div>
            <div class="form-group2">
              <div class="col-md-12">
                <label>봉사활동명</label>
                <input type="text" name="name" class="form-control" value="<%= @b.name %>" required />
              </div>
            </div>
            <div class="form-group2">&nbsp</div>
            <div class="form-group2">
                <label>봉사활동 상세내용</label>
                <!--<input type="text" name="content" class="form-control form-control_bongsa_information" value="<%#= @b.content %>" />-->
                <textarea name="content" rows="18" cols="70"><%= @b.content %></textarea>
            </div>
            </br>
            <div class="form-group2">
              <input type="radio" name="is_regular" value="1" <%= 'checked="checked"' if @b.is_regular==1 %>/> 정기 봉사 &nbsp&nbsp
              <input type="radio" name="is_regular" value="0" <%= 'checked="checked"' if @b.is_regular==0 %>/> 비정기 봉사
            </div> </br>
            <div class="form-group2">
              <div class="col-md-6">
                <label>모집기간</label><br>
                  <input type="date" name="date_recruit_start" class="form-control_date" value="<%= @b.date_recruit_start %>" /> ~
                  <input type="date" name="date_recruit_end" class="form-control_date" value="<%= @b.date_recruit_end %>" />
              </div>
              <div class="col-md-6">
                  <label>봉사기간(전체)</label> <br>
                  <input type="date" name="date_real_start" class="form-control_date" value="<%= @b.date_real_start %>" /> ~
                  <input type="date" name="date_real_end" class="form-control_date" value="<%= @b.date_real_end %>" />
              </div>
            </div><br>
            <div class="form-group2">
                <label>봉사시간</label><br>
                <input type="text" name="time_daily_start" class="form-control_time" value="<%= @b.time_daily_start %>" /> ~
                <input type="text" name="time_daily_end" class="form-control_time" value="<%= @b.time_daily_end %>" />
            </div><br>
            <div class="form-group2">
                <label>총 봉사 예상시간</label><br>
                <input type="text" name="time_expect_total" class="form-control_line" value="<%= @b.time_expect_total %>" />&nbsp시간
            </div>
            <div class="form-group2">
                <label>모집인원</label><br>
                <input type="number" name="vltr_num" class="form-control_line" value="<%= @b.vltr_num %>" />&nbsp명
            </div><br>
            <div class="form-group2">
                <label>사전교육 유/무</label><br>
                <input type="radio" name="is_edu" value="1" <%= "checked" if @b.is_edu==1 %>/> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" <%= "checked" if @b.is_edu==0 %>/> 없음
            </div><br>
            <div class="form-group2">
                <label>모집 특이조건</label><br>
                <input type="text" name="vltr_req" class="form-control form-control_bongsa_information" value="<%= @b.vltr_req %>" />
            </div><br>
            <div class="form-group2">
                <label>상태</label><br>
                <input type="radio" name="status" value="2" <%= 'checked="checked"' if @b.status=="2" %>/> 모집예정
                <input type="radio" name="status" value="1" <%= 'checked="checked"' if @b.status=="1" %>/> 모집중
                <input type="radio" name="status" value="0" <%= 'checked="checked"' if @b.status=="0" %>/> 모집종료
            </div><br>
            <div class="form-group2">
                <label>지원가능 성별</label><br>
                <input type="radio" name="vltr_sex" value="0" <%= 'checked="checked"' if @b.vltr_sex=="0" %>/> 무관
                <input type="radio" name="vltr_sex" value="1" <%= 'checked="checked"' if @b.vltr_sex=="1" %>/> 남
                <input type="radio" name="vltr_sex" value="2" <%= 'checked="checked"' if @b.vltr_sex=="2" %>/> 여
            </div><br>
            <div class="form-group2">
                <label>봉사기관</label>
                <select name="organization_id">
                    <% o_name = Organization.find(@b.organization_id) %>
                    <option value="<%= @b.organization_id %>" selected="selected"><%= o_name.name %></option>
                </select>
            </div>
            <div class="form-group2">
                <label>담당자이름</label>
                <input type="text" name="clerk_name" class="form-control" value="<%= @b.clerk_name %>" />
            </div>
            <div class="form-group2">
                <label>담당자연락처</label>
                <input type="text" name="clerk_call" class="form-control" value="<%= @b.clerk_call %>" />
            </div>
            
            <div class="form-group2">
                <label>모집연령</label>
                <select name="vltr_age_id">
                    <% v_age = VltrAge.find(@b.vltr_age_id) %>
                    <option value="<%= v_age.id %>" selected="selected" ><%= v_age.name %></option>
                </select>
            </div>
            <div class="form-group2">
                <label>등록자</label>
                <% if @mod=="1" %>
                    <%#= @b.admin_add %>
                <% else %>
                    <%= current_user.email %>
                <% end %>
            </div>
            <div class="form-group2">
                <label>최근 수정자</label>
                <input type="text" value="<%= current_user.email %>" name="admin_mod">
            </div>
        </div>
    
        <div class="row" align="right">
            <% if @mod == "1" %>
                <a class="btn btn-orange" href="/admin/del_bongsa_tmp?id=<%= @b.id %>">삭제</a>
                <input type="submit" value="수정" class="btn btn-orange" />
            <% else %>
                <input type="submit" value="등록" class="btn btn-orange" />
            <% end %>
            <a class="btn btn-orange" href="/admin/bongsa_tmp">취소</a>
        </div>
    
</div>
</form>