<% 
    @b = @k 
    
    unless params[:mod].nil?
        @mod = params[:mod]
        @b = BongsaTmp.find(params[:id])
    end
    
%>

<style>
.main_img {width: 281px;
           height: 207px;}
.form-control_bongsa_information {height: 150px;}
.form-control_date {width: 34%;
                    height: 35px;}
.form-control_line {border: none;
                    border-bottom: 1px solid black;
                    height: 34px;}
.form-control_time {width: 42%;
                    height: 34px;}
* {text-align:left;}
.col_padding {padding-left: 0px; padding-right: 0px;}
select {width: 20%;
        height: 33px;}
.day_time{
    width:40%;
}
.day_head{
    width:40%;
}
</style>













<%= render :partial => 'home/main_navbar_general' %>

<% 
  arr = ['매일','월','화','수','목','금','토','일']
%>

<% if params[:mod] == "1"
    unless @b.date_recruit_end.nil?
      today = Time.zone.now.to_date
      
      td = today - @b.date_recruit_end
      td = td.to_i
      
      if td > 0
        @b.status="모집종료"
        @b.save
      end
    end
   else
   end
       
%>

<!-- 이거슨 팝업창 -->
<%# if flash[:alert].present? %>
  <!--<div class="col-md-12 alert alert-danger"><%#= flash[:alert] %></div>-->
<%# end %>
<!-- Tables ================================================== -->
<% if params[:mod] == "1"
      unless (@b.date_recruit_end.nil? && @b.date_recruit_start.nil?)
        d_day = ( Date.parse("#{@b.date_recruit_end}") - Date.parse(Time.zone.now.to_s)).to_i
        s_day = ( Date.parse(Time.zone.now.to_s) - Date.parse("#{@b.date_recruit_start}") ).to_i
      end
      if d_day <= -1
        dd_day = (0 - d_day).to_s + "일 지남"
      elsif d_day == 0
        dd_day = "Today"
      elsif @b.is_recruit_always
        dd_day = "상시모집"
      else
        dd_day = "D - " + d_day.to_s
      end
   else
       dd_day = "D - n"
   end
%>
  <div class="col-md-2"></div>
  <form action="/admin/crawled_realsave" enctype="multipart/form-data" method="POST" name="form_b" id="form_b">
  <div class="col-md-8 col-sm-12">
    <div class="row">
      <div class="form-group2" align="center" style="margin-top:20px;margin-bottom: 20px;">
        <div class="col-md-6" style="text-align:center;margin-bottom: 20px;">
          <h4 style="text-align:center">메인페이지에 보이기</h4>
          <% if @mod == "1" %>
              <% if !@b.is_visible %>
                  <input type="radio" name="is_visible" value="1" /> O &nbsp&nbsp
                  <input type="radio" name="is_visible" value="0" checked/> X
              <% end %>
          <% else %>
              <input type="radio" name="is_visible" value="1" /> O &nbsp&nbsp
              <input type="radio" name="is_visible" value="0" /> X
          <% end %><br>
        </div>
        <div class="col-md-6" style="text-align:center;">
          <span style="font-size:20px;font-weight: bolder;">봉사기관</span><br>
          <select name="organization_id" style="color: black;border: 1px solid black;width: 50%;">
            <% unless @mod == "1" && @b.organization_id != nil %>
                <option value="">선택안함</option>
            <% end 
            flag1=0
            %>
            <% Organization.all.each do |x| %>
                <% if (@mod == "1" && @b.organization_id == x.id) ||  (@parsed_org == x.name)
                    flag1=1
                %>
                    <option value="<%= x.id %>" selected><%= x.name %></option>
                <% else %>
                    <option value="<%= x.id %>"><%= x.name %></option>
                <% end %>
            <% end %>
          </select>
          <% if @mod != "1" %>
            <br>위 목록에 등록되어있지 않을때에만 입력하세요. (문자열 앞뒤 잔여공백 주의!)
            <br><input type="text" name="org_name" placeholder="목록에 없는 경우에만 입력하세요" value="<%= @parsed_org if flag1==0 %>" style="width: 53%;">
          <% end %>
        </div>
      </div>
      <div class="col-md-12" style="margin-bottom: 20px;padding-top: 20px;border-bottom: 10px double green;border-top: 10px double green;">
        <div class="col-md-3">
            <label style="margin-top:0%">지역</label> &nbsp
            <select name="region_id" style="width:90%;color: black;border: 1px solid black;">
                <% Region.all.each do |x| %>
                    <% if params[:mod] == "1" %>
                        <% if @b.region_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% end %>
                <% end %>
            </select> &nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="col-md-3">
            <label style="margin-top:0%">주관대학</label> &nbsp
            <select name="school_id" style="width:90%;color: black;border: 1px solid black;">
                <% School.all.each do |x| %>
                    <% if params[:mod] == "1" %>
                        <% if @b.school_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% end %>
                <% end %>
            </select> &nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="col-md-3">
            <label style="margin-top:0%">봉사시간 분류</label> &nbsp
            <select name="btime_id" style="width:90%;color: black;border: 1px solid black;">
                <% Btime.all.each do |x| %>
                    <% if params[:mod] == "1" %>
                        <% if @b.btime_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% end %>
                <% end %>
            </select> &nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="col-md-3">
            <label style="margin-top:0%">분야</label> &nbsp
            <select name="category_id" style="width:90%;color: black;border: 1px solid black;">
                <% Category.all.each do |x| %>
                    <% if params[:mod] == "1" %>
                        <% if @b.category_id == x.id %>
                            <option value="<%= x.id %>" selected><%= x.name %></option>
                        <% end %>
                    <% else %>
                        <option value="<%= x.id %>"><%= x.name %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
    </div>
      
      <% if params[:mod] =="1" %>
          <p class="bongsa_img_title"><strong><%= @b.name %></strong>
      <% else %>
          <p class="bongsa_img_title"><strong><%= @parsed_title %></strong>
      <% end %>
      
      <button class="dday_btn" style="text-align:center;"><strong>
      <% if params[:mod] =="1" %>
          <% if @b.date_recruit_end %>
            <%= dd_day %>
          <% elsif @b.is_recruit_always %>
            <%= "상시모집" %>
          <% else %>
            D-?
          <% end %>
      <% else %>
        D-?
      <% end %>
      </strong></button>
      <% if params[:mod] =="1" %>
          <% if d_day > 3 && s_day >= 0 %>
            <button class="term_btn">모집중</button>
          <% elsif d_day > 3 && s_day < 0 %>
            <button class="term_btn">모집예정</button>
          <% elsif d_day <= 3 && d_day >= 0 %>
            <button class="term_btn">마감임박</button>
          <% elsif d_day < 0 %>
            <button class="term_btn">모집종료</button>
          <% end %>
          <span style="font-size:15px;">
          <input type="radio" name="status" value="모집예정" <%= "checked" if (@mod == "1" && @b.status == "모집예정") || @mod.nil? || @mod=="0" || @parsed_status=="0" %>/> 모집예정
          <input type="radio" name="status" value="모집중" <%= "checked" if @mod == "1" && @b.status == "모집중" || @parsed_status=="1"%>/> 모집중
          <input type="radio" name="status" value="모집종료" <%= "checked" if @mod == "1" && @b.status == "모집종료" || @parsed_status=="2"%>/> 모집종료
          </span>
      <% else %>
        <button class="term_btn" style="text-align:center;">모집상태미정</button>
        <span style="font-size:15px;">
        <input type="radio" name="status" value="모집예정" <%= "checked" if @parsed_status == "0" %>/>모집예정
        <input type="radio" name="status" value="모집중" <%= "checked" if @parsed_status == "1" %>/> 모집중
        <input type="radio" name="status" value="모집종료" <%= "checked" if @parsed_status == "2" %>/> 모집종료
        </span>
      <% end %>
      </p>
    </div>
    <div class="row">
      <% if @mod=="1"%>
      <input type="text" name="name" class="form-control" value="<%= @b.name %>" required style="margin: -2% 0% 2% 1%;padding: 0%;width: 80%;"/>
      <% else %>
      <input type="text" name="name" class="form-control" value="<%= @parsed_title %>" required style="margin: -2% 0% 2% 1%;padding: 0%;width: 80%;"/>
      <% end %>
      <!--<input type="hidden" name="organization_id" value="<%#= @b.organization_id %>">-->
      <input type="hidden" value="<%= current_user.email unless current_user.nil? %>" name="admin_add">
      <input type="hidden" value="<%= @b.id if @mod!="1"%>" name="tid">
      <input type="hidden" value="<%= params[:lsst] unless params[:lsst].nil? %>" name="lsst">
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <% if params[:mod] =="1" %>
        <img src="<%= @b.img_main %>" alt="img" class="bongsa_img">
        <input type="file" name="img_main" class="form-control" value="<%= @b.img_main %>" style="margin-left: -12%; width: 59%; margin-top: 10px;"/>
        <% else %>
        <img src="<%#= @b.img_main %>" alt="메인 이미지를 올려주세요" class="bongsa_img">
        <input type="file" name="img_main" class="form-control" value="" style="margin-left: -12%; width: 59%; margin-top: 10px;"/>
        <input type="text" name="img_main_url" class="form-control" value="" id="img_main_url" placeholder="메인 이미지 url" style="margin-left: -12%; width: 59%; margin-top: 10px;"/>
        <% end %>
      </div>
      <div class="info_box col-md-7 col-sm-7 col-xs-12">
        <p class="bongsa_sub_inform">
          <strong>모집기간</strong>
          <input type="date" name="date_recruit_start" class="form-control_date" value="<%= @b.date_recruit_start if @mod =="1" %>" style="line-height: 20px;width: 23%;margin-left:13%;"/> ~
          <input type="date" name="date_recruit_end" class="form-control_date" value="<%= @b.date_recruit_end if @mod =="1" %>" style="line-height: 20px;width: 23%;"/>
        </p>
        <p class="bongsa_sub_inform">
          <strong>활동기간</strong>
          <% if @mod=="1"%>
          <input type="date" name="date_real_start" class="form-control_date" value="<%= @b.date_real_start %>" style="line-height: 20px;width: 23%;margin-left:13%;"/> ~
          <input type="date" name="date_real_end" class="form-control_date" value="<%= @b.date_real_end %>" style="line-height: 20px;width: 23%;"/>
          <% else %>
          <input type="date" name="date_real_start" class="form-control_date" value="<%= @parsed_term_start %>" style="line-height: 20px;width: 23%;margin-left:13%;"/> ~
          <input type="date" name="date_real_end" class="form-control_date" value="<%= @parsed_term_end %>" style="line-height: 20px;width: 23%;"/>
          <% end %>
        </p>
        <p class="bongsa_sub_inform">
          <strong>봉사시간</strong>
          <input type="text" name="time_expect_total" class="form-control_line" value="<%= @b.time_expect_total if @mod =="1" %>" style="line-height: 20px;width: 10%;margin-left:13%;"/>&nbsp시간
        </p>
        <p class="bongsa_sub_inform">
          <strong><a href="/admin/bongsa_tmp_list_delete?id=<%= @b.id %>&page=<%= @page %>" style="color:#a9a9a9;">활</a>동지역</strong>
          <% if @mod =="1"%>
        	<input type="text" name="address" class="form-control form-control_line" value="<%= @b.address %>" style="width: 100%;"/>
        	<% else %>
        	<input type="text" name="address" class="form-control form-control_line" value="<%= @parsed_region %>" style="width: 100%;"/>
        	<% end %>
        </p>
        <p class="bongsa_sub_inform">
          <strong>인증서발급유무</strong>
            <span class="bongsa_sub_confirm">
            <% if @mod == "1" && @b.is_approval == true %>
                <input type="radio" name="is_approval" value="1" checked/> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" /> X
            <% elsif @mod == "1" && @b.is_approval == false %>
                <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" checked/> X
            <% else %>
                <input type="radio" name="is_approval" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_approval" value="0" checked/> X
            <% end %>
            </span>
        </p>
        <p class="bongsa_sub_inform">
          <strong>사전교육 유/무</strong>
            <span class="bongsa_sub_confirm">
            <% if @mod == "1" && @b.is_edu == true %>
                <input type="radio" name="is_edu" value="1" checked/> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" /> 없음
            <% elsif @mod == "1" && @b.is_edu == false %>
                <input type="radio" name="is_edu" value="1" /> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" checked/> 없음
            <% else %>
                <input type="radio" name="is_edu" value="1" <%= "checked" if @parsed_preedu=="1"%>/> 있음 &nbsp&nbsp
                <input type="radio" name="is_edu" value="0" <%= "checked" if @parsed_preedu=="0"%>/> 없음
            <% end %>
            </span>
        </p>
        <p class="bongsa_sub_inform_confirm">
          <strong>모집인원</strong>
            <span class="bongsa_sub_confirm">
            <% if @mod == "1" %>
            <input type="number" name="vltr_num" class="form-control_line" value="<%= @b.vltr_num %>"  style="width: 5%;"/>&nbsp명
            <% else %>
            <input type="number" name="vltr_num" class="form-control_line" value="<%= @parsed_howmany %>" style="width: 5%;"/>&nbsp명
            <% end %>
          </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>현재 신청인원</strong>
            <span class="bongsa_sub_confirm">
            <% if @mod=="1" %>
            <input type="number" name="vltr_num2" class="form-control_line" value="<%= @b.vltr_num2 %>" style="width: 5%;" />&nbsp명
            <% else %>
            <input type="number" name="vltr_num2" class="form-control_line" value="" style="width: 5%;" />&nbsp명
            <% end %>
            </span>
        </p>
        <span style="color:#fff;">
          <button class="bongsa_choice" disabled="disabled" style="text-align:center;">찜하기</button>
        </span>
        <span style="color:#fff;">
          <button class="bongsa_apply" disabled="disabled" style="text-align:center;">신청하기</button>
        </span>
        <% if @mod=="1"%>
        <input type="text" name="link" class="form-control_line" placeholder="신청 링크주소는 여기에" value="<%= @b.link %>" />
        <% else %>
        <input type="text" name="link" class="form-control_line" value="<%= "http://www.vms.or.kr/partspace/reqView.jsp?seq=" + @k.keytemp.to_s %>" />
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-8">
        <p class="bongsa_intro"><%= @b.summary if @mod =="1" %></p>
      </div>
      <div class="col-md-4"></div>
    </div>
    
    <center>
      <img src="/img/img_more_horizontal.png" class="info_more"/>
    </center>
  
    <div class="row col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category01_target.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>모집대상</strong></span>
          	<% if @mod =="1" %>
          	<textarea class="section_text" style="resize:none"><%= @b.vltr_req %></textarea><br>
          	<% else %>
          	<textarea class="section_text" style="resize:none"><%= @parsed_sp_note %></textarea><br>
          	<% end %>
          </div>
        </div>
      </div>
      <%# unless @b.bongsa_times.count == 0 %>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info_group">
            <div class="section_icon_area">
              <img class="ic_bongsa_inform" src="/img/ic_category/ic_category02_hours.png"/>
            </div>
            <div class="section_contents">
            	<span class="section_title"><strong>상세봉사일정</strong></span>
            	<p class="section_text">
            	<table>
                <%# @b.bongsa_times.each do |y| %>
                  <tr>
                    <td class="day_head">
                      <%#= arr[y.time_type ]  %>
                      <%#= y.time_type %>
                    </td>
                    <td class="day_time">
                      <%#= y.time_start %> ~
                      <%#= y.time_end %>
                    <td>
                  </tr>
                <%# end %>
              </table>
            	</p><br>
            </div>
          </div>
        </div>
      <%# end %>
    </div>
    <div class="row col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category03_date.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>모집기간</strong></span>
          	<p class="section_text">
          	<% if @mod =="1" %>
            	<% if @b.is_recruit_always %>
            	  상시모집
            	<% else %>
            	  <input type="date" name="date_recruit_start" class="form-control_date" value="<%= @b.date_recruit_start %>" style="line-height: 20px;width: 36%;" /> ~
                <input type="date" name="date_recruit_end" class="form-control_date" value="<%= @b.date_recruit_end %>" style="line-height: 20px;width: 36%;" />
            	<% end %>
            <% else %>
              <!--<input type="date" name="date_recruit_start" class="form-control_date" placeholder="" style="line-height: 20px;width: 36%;" /> ~-->
              <!--<input type="date" name="date_recruit_end" class="form-control_date" value="" style="line-height: 20px;width: 36%;" />-->
              <div class="form-group2">
                <span>상시모집여부 : </span>
                <input type="radio" name="is_recruit_always" value="1" /> O &nbsp&nbsp
                <input type="radio" name="is_recruit_always" value="0" /> X
              </div>
            <% end %>
          	</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category04_location.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>활동지역</strong></span>
          	<% if @mod =="1"%>
          	<input type="text" name="address" class="form-control form-control_line" value="<%= @b.address %>" style="width: 135%;"/>
          	<% else %>
          	<input type="text" name="" class="form-control form-control_line" placeholder="위에서 입력" style="width: 135%;"/>
          	<% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category05_activitydate.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>활동기간</strong></span><p>
          	  활동 정기 여부 : 
              <input type="radio" name="is_regular" value="1" <%= "checked" if @parsed_regular=="1"%>/> 정기 봉사 &nbsp&nbsp
              <input type="radio" name="is_regular" value="0" <%= "checked" if @parsed_regular=="0"%>/> 비정기 봉사
            <br><br>
            <!--<input type="date" name="" class="form-control_date" value="<%= @b.date_real_start if @mod=="1" %>" style="line-height: 20px;width: 40%;"/> ~-->
            <!--<input type="date" name="" class="form-control_date" value="<%= @b.date_real_end if @mod=="1" %>" style="line-height: 20px;width: 40%;"/></p><br>-->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category06_manager.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>담당자</strong></span>
          	<p class="section_text">
        	    <% if @mod=="1" %>
        	    이름 : <input type="text" name="clerk_name" class="" value="<%= @b.clerk_name %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;margin-left: 3%;"/>
        	    <% else %>
        	    이름 : <input type="text" name="clerk_name" class="" value="<%= @parsed_clerk %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;margin-left: 3%;"/>
        	    <% end %>
        	    <br>
        	    <% if @mod=="1" %>
        	    연락처 : <input type="text" name="clerk_call" class="" value="<%= @b.clerk_call %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;"/>
        	    <% else %>
        	    연락처 : <input type="text" name="clerk_call" class="" value="<%= @parsed_call %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;"/>
        	    <% end %>
        	    <br>
        	    <% if @mod=="1" %>
        	    이메일 : <input type="text" name="clerk_email" class="" value="<%= @b.clerk_email %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;"/>
        	    <% else %>
        	    이메일 : <input type="text" name="clerk_email" class="" value="<%= @parsed_email %>" style="width: 50%; line-height: 20px;margin-bottom: 5px;"/>
        	    <% end %>
        	    <br>
        	    <% if @mod=="1" %>
        	    링크 : <input type="text" name="clerk_link" class="" value="<%= @b.clerk_link %>" style="width: 85%; line-height: 20px;margin-left: 3%;"/>
        	    <% else %>
        	    링크 : <input type="text" name="clerk_link" class="" value="<%#= @b.clerk_link %>" style="width: 85%; line-height: 20px;margin-left: 3%;"/>
        	    <% end %>
        	    <br>
          	</p><br>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 col-xs-12">
      <div class="col-md-10 col-xs-10">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category07_bonus.png"/>
          </div>
          <div class="section_contents_8">
          	<span class="section_title"><strong>활동혜택</strong></span>
          	<p class="section_text">
          	  <textarea class="form-control form-control_bongsa_information" name="incentive" cols="40" rows="5"><%= @b.incentive if @mod=="1" %></textarea>
          	</p><br>
          <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 col-xs-12">
      <div class="col-md-10 col-xs-10">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category08_link.png"/>
          </div>
          <div class="section_contents_8">
          	<span class="section_title"><strong>관련링크(클릭하면 해당 페이지로 이동합니다.)</strong></span>
          	<p class="section_text">
              <%# @b.bongsa_links.each do |y| %>
                <a style="color:black;" href="<%#= y.url %>"><%#= y.name %></a><br>
              <%# end %>
          	</p><br>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row col-md-12 col-xs-12">
    <div class="col-md-10 col-xs-10">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category09_other.png"/>
        </div>
        <div class="section_contents_8">
        	<span class="section_title"><strong>기타사항</strong></span>
        	<p class="section_text">
        	<% if @mod =="1" %>
        	<textarea rows="15" cols="120" style="resize:none" name="content_etc"><%= @b.content_etc %></textarea>
        	<% else %>
        	<textarea rows="15" cols="120" style="resize:none" name="content_etc"><%= @parsed_content %></textarea>
        	<% end %>
        	</p><br>
        </div>
        <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  


  <!--<div class="col-md-6">-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>모집대상</strong></span>-->
  <!--    	<p class="section_text">신한생명 보험 20대 가입자</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_sex.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>모집기간</strong></span>-->
  <!--    	<p class="section_text"><%#= @b.date_recruit_start %> ~ <%#= @b.date_recruit_end %></p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_info.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>활동기간</strong></span>-->
  <!--    	<p class="section_text">정기인지 or 비정기 / 몇일부터 몇일까지인지. </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>봉사시간</strong></span>-->
  <!--    	<p class="section_text">요일별로 몇시부터 몇시까지 or 무관하고 기타 여러가지 경우 포함가능하게.</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>활동지역</strong></span>-->
  <!--    	<p class="section_text">정형화된 카테고리 지역 넘어서 디테일하게 입력할 수 있도록</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>담당자</strong></span>-->
  <!--    	<p class="section_text">이름 or 전화 or 메일 or 링크</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="col-md-12"><!--리스트 형식으로 작성되는 경우에는 ul 태그 li li 해서 앞에 쩜 띄워줄 수 있게.-->
    <!--<div class="info_group">-->
    <!--  <div class="section_icon_area">-->
    <!--    <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
    <!--  </div>-->
    <!--  <div class="section_contents">-->
    <!--  	<span class="section_title"><strong>활동혜택</strong></span>-->
    <!--  	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-"</p><br>-->
    <!--  </div>-->
    <!--</div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>관련링크</strong></span>-->
  <!--    	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-" </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>기타사항</strong></span>-->
  <!--    	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-" </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  

  <!--POSTER 시작-->
  <center>
   <!--<span class="info_title"><b>POSTER</b></span>-->
   <br class="info_line"><br>
  </center>
  <% if @mod =="1" %>
    <% unless @b.img_poster.to_s.length <= 1  %>
      <div class="col-md-12 slide slided_poster">
          <div class="col-md-1"></div>
          <div class="col-md-10">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <img src="<%= @b.img_poster %>" class="info_poster">
          </div>
          <div class="col-md-2"></div>
          </div>
          <div class="col-md-1"></div>
      </div>
    <% else %>
      <!--<div class="col-md-12 slide slided_poster">-->
      <!--  <center>-->
      <!--    <h1 style="margin-bottom:3%; font-size:40px;">-->
      <!--        <b>해당 포스터가 없습니다</b>-->
      <!--    </h1>-->
      <!--  </center>-->
      <!--</div>-->
    <% end %>
  <% else %>
    <div class="col-md-12 slide slided_poster">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <input type="file" name="img_poster" class="form-control" value="" />
              <img src="<%#= @b.img_poster %>" alt="포스터를 등록하세요" class="info_poster">
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="col-md-1"></div>
      </div>
  <% end %>
    <div class="col-md-12 slide slided_poster" align="center" style="margin-bottom:30px;">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <input type="submit" value="등록" class="btn btn-orange" />
        <button class="btn btn-orange"><a href="/admin/bongsa_tmp" style="color:black">취소</a></button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  </form>
  <div class="col-md-2"></div>
  <div class="rows">
    <div class="col-0-2"></div>
    <div class="col-0-8">
      <div class="col-md-12 slide slided_poster" id="img_search_div" align="center" style="margin-bottom:30px;padding-top: 20px;border-bottom: 10px double green;border-top: 10px double green;">
        <%= render partial: 'crlr/img_search' %>
      </div>
    </div>
    <div class="col-0-2"></div>
  </div>
<style>
.slided_img{
  background-image:url('');
}
</style>
<!--POSTER 끝-->

 
<%= render :partial => 'home/main_footer' %>