<!--layout 적용 안함-->  
<!-- 한글패치 -->
  <meta charset="utf-8">
  <title>봉사꾼</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 드롭바용 제이커리 -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> 
  <!-- 아이콘용 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/-480.css" media="all and (max-width:480px)">
  <link rel="stylesheet" href="/css/481-767.css" media="all and (min-width:481px) and (max-width:767px)">
  <link rel="stylesheet" href="/css/768-979.css" media="all and (min-width:768px) and (max-width:979px)">
  <link rel="stylesheet" href="/css/980-1199.css" media="all and (min-width:980px) and (max-width:1199px)">
  <link rel="stylesheet" href="/css/1200-.css" media="all and (min-width:1200px)">

  <!--글씨체 한나체로 변경-->
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
      <style>
        body {
            @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
            font-family: 'Noto Sans KOR','Noto Sans CJK KR','Noto Sans KOR' sans-serif;
            }
      </style>
  <%= render :partial => 'style/index' %>
</head>
<body>
  
<!--layout 적용 안함-->
  <br>
<%
  k = params[:k].to_i unless params[:k].nil?
  k = Setting.first.value if params[:k].nil?
  k2 = k + Setting.first.value
  k3 = 0
  k3 = 1 if k == Bongsa.all.count
  k2 = Bongsa.all.count if Bongsa.all.count < k2
  k = k.to_i
  
  %>

<% 
  @region = params[:region] if !params[:region].nil? && params[:region]!="empty" # 정확한 값이 있다면
  @school = params[:school] if !params[:school].nil? && params[:school]!="empty"
  @category = params[:category] if !params[:category].nil? && params[:category]!="empty"
  @btime = params[:btime] if !params[:btime].nil? && params[:btime]!="empty"
  @s_word = params[:s_word] if !params[:s_word].nil? && params[:s_word]!="empty"
%>

<%
        first = 0
        tmp = ""
        check = Proc.new {|x|
            if first == 0
                first = 1
            else
                tmp += " AND "
            end
            tmp += "#{x}"
        }
        
        check.call "name LIKE \"%#{@s_word}%\"" unless @s_word.nil?
        check.call "region_id LIKE \"#{@region}\"" unless @region.nil?
        check.call "school_id LIKE \"#{@school}\"" unless @school.nil?
        check.call "btime_id LIKE \"#{@btime}\"" unless @btime.nil?
        check.call "category_id LIKE \"#{@category}\"" unless @category.nil?
        @bongsa = Bongsa.where("#{tmp}")
%>
<!--메인 컨텐츠-->
<br>

<div class="col-md-12 col-sm-12">
  <center>
    <% i = 0 %>
    <!--/컨텐츠 카드 시작-->
    <% @bongsa.reverse.each do |b| %>
      <% break if i==k %>
      <% next if !b.is_visible %>
      <% i+=1 %>
      <a href="/home/bongsa_information/<%= b.id %>">
        <div class="col-md-4 col-sm-12 row_main_content hvr-border-fade">
          <!-------------------------------------------------------------
          아래는 컨텐츠 카드/  [사진 ㄴ> 봉사기간, 봉사명 ]  /코드입니다 
          -------------------------------------------------------------->
          <div class="col-md-12" style="padding:0px;">
            <img class="main_content_volunteer_img" src="<%= b.img_main %>">
            
            <% if b.name.nil? %>
              <center>봉사명이 없습니다.</center>
            <% else %>
              <span class="side_info__title">
                <span><%= b.date_real_start %> ~ <%= b.date_real_end %></span> 
                <p class="main_content__title">
                  <strong><%= b.name %></strong>
                </p>
              </span>
            <% end %>
          </div>
          
          <!-------------------------------------------------------------
              아래는 컨텐츠 카드/  [시간 | 지역 | 디데이]  /코드입니다 
          -------------------------------------------------------------->
          <% unless b.date_recruit_end.nil? %>
            <% d_day = (Date.parse("#{b.date_recruit_end}") - Date.parse(Time.zone.now.to_s)).to_i %>
              <% if d_day == 0 
                 d_day = "Today!"
               elsif d_day < 0
                 d_day = "모집종료"
               elsif b.is_recruit_always == true
                 d_day = "상시모집"
               else
                 d_day = "D - " + d_day.to_s
               end %>
          <% end %>
              
          <div class="col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">총 봉사시간</p>
              <p class="ptag_bottom_css"><%= b.time_expect_total %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">지역 </p>
              <p class="ptag_bottom_css"><%= Region.find(b.region_id).name %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">모집마감</p>
              <p class="ptag_bottom_css"><%= d_day %>
              </p>
              <!--<p style="color:#000000; font-size:18px;"> ~ <%#= b.date_real_end %></p>-->
            </div>  
          </div>
        </div>
      </a>
    <% end %>
    <!--/컨텐츠 카드 끝-->
  </center>
</div>

<!-- 봉사정보 더 보기 코드입니다 -->

</br></br>
  <center>
  <% if k3==0 %>
    <div class="bongsa_more">
      <button id="bongsa_more_btn"><strong>봉사정보 더보기</strong></button>
    </div>
  <% else %>
    <div class="bongsa_more">
      <strong>봉사정보 끝입니다.</strong>
    </div>
  <% end %>
  </center>
</br>

<!-- 무한스크롤 JSON -->
<script type="text/javascript" src="/jquery.jscroll.min.js"></script>
<script type="text/javascript">
   $(function(){
      $("#bongsa_more_btn").on("click", function(){
          $.ajax({
      			type:"get",
      			url:"/home/filter?" + 'region=' + $('#region_select').val() 
      			+ '&school=' + $('#school_select').val() 
      			+ '&btime=' + $('#btime_select').val() 
      			+ '&category=' + $('#category_select').val()
      			+ '&s_word=' + $('#s_word').val()
      			+ '&k=' + '<%= k2 %>',
      			datatype:"html",
      			success:function(r){
      				$("#main_contents").empty();
      				$("#main_contents").append(r);
      			},
      			error:function(){
      				alert("데이터를 가져오지 못하였습니다.");
  		    	},
	      	});
        });
      });
      //
</script>

<!--봉사달력-->

<!--<br><br>-->
<!--<center>-->
<!--  <div class="row">-->
<!--    <a href = '/calendar/index'>-->
<!--      <i class="fa fa-calendar-check-o fa-3x"></i>-->
<!--    </a>-->
<!--    <p style="font-size:25px; text-align:center; color:#512da7; margin-top: 5px;">-->
<!--      <a href = '/calendar/index' style="color:#512da7;">-->
<!--        <b> 봉사달력 보러가기</b>-->
<!--      </a>-->
<!--    </p>-->
<!--  </div>-->
<!--</center>-->
<!--<br><br>-->

<!-- Main Content CSS -->
<%#= render :partial => 'style/main_contentcss' %>
<%#= render :partial => 'home/main_footer' %>