  <!--<br>-->
  <% 
    blank="col--0-1 col-5-1" 
    content="col--0-22 col-5-10"
    content_card="col-0-12 col-3-6 col-4-4 col-5-4 row_main_content hvr-border-fade"
  %>
<div class="rows">
  <div class="<%= blank %>"></div> <!-- 여백 -->
  <div class="<%= content %>"><!-- 시작 -->
  
<% 
  @region = params[:region] if !params[:region].nil? && params[:region]!="empty" # 정확한 값이 있다면
  @school = params[:school] if !params[:school].nil? && params[:school]!="empty"
  @category = params[:category] if !params[:category].nil? && params[:category]!="empty"
  @btime = params[:btime] if !params[:btime].nil? && params[:btime]!="empty"
  @s_word = params[:s_word] if !params[:s_word].nil? && params[:s_word]!="empty"
%>

<%
        first = 0
        tmp = ""
        check = Proc.new {|x|
            if first == 0
                first = 1
            else
                tmp += " AND "
            end
            tmp += "#{x}"
        }
        
        check.call "name LIKE \"%#{@s_word}%\"" unless @s_word.nil?
        check.call "region_id LIKE \"#{@region}\"" unless @region.nil?
        check.call "school_id LIKE \"#{@school}\"" unless @school.nil?
        check.call "btime_id LIKE \"#{@btime}\"" unless @btime.nil?
        check.call "category_id LIKE \"#{@category}\"" unless @category.nil?
        @bongsa = Bongsa.where("#{tmp}")
        
  k = params[:k].to_i unless params[:k].nil?
  k = Setting.first.value if params[:k].nil?
  k2 = k + Setting.first.value
  k3 = 0
  k3 = 1 if k >= @bongsa.all.count
  k2 = @bongsa.all.count if @bongsa.all.count < k2
  k = k.to_i
  
%>
<!--메인 컨텐츠-->
<br>

<div class="rows">
  <center>
    <% i = 0 %>
    <!--/컨텐츠 카드 시작-->
    <% @bongsa.reverse.each do |b| %>
      <% break if i==k %>
      <% next if !b.is_visible %>
      <% i+=1 %>
      
      <a href="/home/bongsa_information/<%= b.id %>">
        <div class="<%= content_card %>">
          <!-------------------------------------------------------------
          아래는 컨텐츠 카드/  [사진 ㄴ> 봉사기간, 봉사명 ]  /코드입니다 
          -------------------------------------------------------------->
          <div class="col-0-12" style="padding:0px;">
            <img class="main_content_volunteer_img" src="<%= b.img_main %>">
            
            <% if b.name.nil? %>
              <center>봉사명이 없습니다.</center>
            <% else %>
              <span class="side_info__title">
                <span><%= b.date_real_start %> ~ <%= b.date_real_end %></span> 
                <p class="main_content__title">
                  <strong><%= b.name %></strong>
                </p>
              </span>
            <% end %>
          </div>
          
          <!-------------------------------------------------------------
              아래는 컨텐츠 카드/  [시간 | 지역 | 디데이]  /코드입니다 
          -------------------------------------------------------------->
          <% unless b.date_recruit_end.nil? %>
            <% d_day = (Date.parse("#{b.date_recruit_end}") - Date.parse(Time.zone.now.to_s)).to_i %>
              <% if d_day == 0 
                 d_day = "Today!"
               elsif d_day < 0
                 d_day = "모집종료"
               elsif b.is_recruit_always == true
                 d_day = "상시모집"
               else
                 d_day = "D - " + d_day.to_s
               end %>
          <% end %>
              
          <div class="rows" style="padding:0px;">
            <div class="col-0-4 main_content__content"></br>
              <p class="ptag_up_css">총 봉사시간</p>
              <p class="ptag_bottom_css"><%= b.time_expect_total %></p>
            </div>
            <div class="col-0-4 main_content__content"></br>
              <p class="ptag_up_css">지역 </p>
              <p class="ptag_bottom_css"><%= Region.find(b.region_id).name %></p>
            </div>
            <div class="col-0-4 main_content__content"></br>
              <p class="ptag_up_css">모집마감</p>
              <p class="ptag_bottom_css"><%= d_day %>
              </p>
              <!--<p style="color:#000000; font-size:18px;"> ~ <%#= b.date_real_end %></p>-->
            </div>  
          </div>
          
        </div>
      </a>
      
    <% end %>
    <!--/컨텐츠 카드 끝-->
  </center>
</div>

<!-- 봉사정보 더 보기 코드입니다 -->

</br></br>
  <center>
  <% if k3==0 %>
    <div class="bongsa_more">
      <button id="bongsa_more_btn"><strong>봉사정보 더보기</strong></button>
    </div>
  <% else %>
    <div class="bongsa_more">
      <strong>봉사정보 끝입니다.</strong>
    </div>
  <% end %>
  </center>
</br>

<!-- 무한스크롤 JSON -->
<script type="text/javascript" src="/jquery.jscroll.min.js"></script>
<script type="text/javascript">
   $(function(){
      $("#bongsa_more_btn").on("click", function(){
          $.ajax({
      			type:"get",
      			url:"/home/filter?" + 'region=' + $('#region_select').val() 
      			+ '&school=' + $('#school_select').val() 
      			+ '&btime=' + $('#btime_select').val() 
      			+ '&category=' + $('#category_select').val()
      			+ '&s_word=' + $('#s_word').val()
      			+ '&k=' + '<%= k2 %>',
      			datatype:"html",
      			success:function(r){
      				$("#main_contents").empty();
      				$("#main_contents").append(r);
      			},
      			error:function(){
      				alert("데이터를 가져오지 못하였습니다.");
  		    	},
	      	});
        });
      });
      //
</script>

</div><!-- 끝 -->
<div class="<%= blank %>"></div> <!-- 여백 -->
</div>

