<div class="blank"></div>
<div id="ajax_target">
  <div class="bongsas"></div>
</div>

<!--메인 컨텐츠-->
<br>
<%  k = Admin.first.value
  unless @s_word.nil?
    unless @bongsa.nil?
      k = @bongsa.all.count
    else
      k = 6
    end
  end %>

<div class="row">
  <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
  <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% @bongsa.last(k).each do |b| %>
      <a href="/home/bongsa_information/<%= b.id %>">
        <div class="col-md-4 col-sm-6 col-lg-4 row_main_content hvr-border-fade">
          <div class="col-md-12" style="padding:0px;">
            <img src="<%= b.img_main %>" alt="이미지" style="width:100%;height: 258px; margin-top:0px;">
             
            <% if b.name.nil? %>
              <span class="side_info__title">
                <center class="main_content__title">봉사명이 없습니다.</center>
              </span>
            <% else %>
              <div class="side_info__title">
                <span><%= b.date_real_start %> ~ <%= b.date_real_end %></span> 
                <p class="main_content__title">
                  <strong><%= b.name %></strong>
                </p>
              </div>
            <% end %>
          
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">총 봉사시간</p>
              <p class="ptag_bottom_css"><%= b.time_expect_total %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">지역 </p>
              <p class="ptag_bottom_css"><%= Region.find(b.region_id).name %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">모집 마감</p>
              <p class="ptag_bottom_css">D-<%= (Date.parse(Time.now.to_s)  -  Date.parse("#{b.date_recruit_end}")).to_i %></p>
              <!--<p style="color:#000000; font-size:18px;"> ~ <%#= b.date_real_end %></p>-->
            </div>  
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
</div>




<!-- 봉사정보 더 보기 코드입니다 -->

</br>
</br>

<center>
  <div class="bongsa_more">
    <button id="bongsa_more_btn"><strong>봉사정보 더보기</strong></button>
  </div>
</center>

</br>

<!-- 무한스크롤 JSON -->
<script type="text/javascript" src="/jquery.jscroll.min.js"></script>
<script type="text/javascript">
   $(function(){
      $("#bongsa_more_btn").on("click", function(){
         $.ajax({
      			type:"get",
      			url:"/home/filter?" + 'region=' + $('#region_select').val() 
      			+ '&school=' + $('#school_select').val() 
      			+ '&btime=' + $('#btime_select').val() 
      			+ '&category=' + $('#category_select').val()
      			+ '&s_word=' + $('#s_word').val(),
      			datatype:"html",
      			success:function(r){
      				$("#main_contents").empty();
      				$("#main_contents").append("<style>"+r+"</style>");
      			},
      			error:function(){
      				alert("데이터를 가져오지 못하였습니다.");
      			},
      		});
        });
      });
</script>


<!--봉사달력-->

<br>
<br>

<center>
  <div class="row">
    <a href = '/calendar/index'>
      <i class="fa fa-calendar-check-o fa-3x"></i>
    </a>
    <p style="font-size:25px; text-align:center; color:#512da7; margin-top: 5px; margin-bottom: 30px;">
      <a href = '/calendar/index' style="color:#512da7;">
        <b> 봉사달력 보러가기</b>
      </a>
    </p>
  </div>
</center>

<!-- Main Content CSS -->
<%= render :partial => 'style/main_contentcss' %>
