<header role="banner" class="header header--home">

<div class="row header__top">

  <div calss="col-md-12">
    <form class="navbar-form navbar-right" role="search" action="#">
          <!--<button id="search" class="navbar__search__first">검색</button>-->
          <div class="form-group">
            <input type="text" class="navbar__search" name="s_word" id="s_word" onchange="hideIcon(this);" placeholder="ex) 벽화봉사">
          </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 header__title"> <strong>봉사꾼</strong></div>
</div>


  <div class="row">
    <center><p style="font-size:30px; margin-bottom: 1%;">Visited &nbsp <font size="80px;"><%= @total_view_count %></font>&nbsp Members.</p></center>
  </div>

  <!--<script>  // Jquery 메뉴스크립트 
      $(function() {
      $( "#school" ).selectmenu();
   
      $( "#region" ).selectmenu();
   
      $( "#time" ).selectmenu();
      
      $( "#type" ).selectmenu();
    });
  </script>-->

  <div class="demo">
    <form action="#">
    <div class="col-md-1" style="width:6%;"></div>
    <div class="col-md-10 col-sm-12">
      <div class="row">
      <center>
        <fieldset class="fieldset_list">
          <ul>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <li class="wantlist">
                <label for="region">지역</label><br>
                <select name="region" id="region_select">
                  <option selected="selected" value="empty">&nbsp 모두보기</option>
                  <% i=1 %>a
                  <% Region.all.each do |x| %>
                    <option id="region_option<%= i %>" value="<%= x.id %>">&nbsp <%= x.name %></option>
                  <% end %>
                </select>
              </li>
             </div>
            
             <div class="col-md-3 col-sm-12 col-xs-12">
              <li class="wantlist">
                <label for="school">학교</label><br>
                <select name="school" id="school_select">
                  <option selected="selected" value="empty">&nbsp 모두보기</option>
                  <% School.all.each do |x| %>
                    <option value="<%= x.id %>">&nbsp <%= x.name %></option>
                  <% end %>
      
                </select>
              </li>
             </div>
              
             <div class="col-md-3 col-sm-12 col-xs-12">
              <li class="wantlist">
                <label for="btime">시간</label><br>
                <select name="btime" id="btime_select">
                  <option selected="selected" value="empty">&nbsp 모두보기</option>
                  <% Btime.all.each do |x| %>
                    <option value="<%= x.id %>">&nbsp <%= x.name %></option>
                  <% end %>
                </select>
              </li>
              </div>
              
              <div class="col-md-3 col-sm-12 col-xs-12">
                <li class="wantlist">
                  <label for="category">종류</label><br>
                  <select name="category" id="category_select">
                    <option selected="selected" value="empty">&nbsp 모두보기</option>
                    <% Category.all.each do |x| %>
                      <option value="<%= x.id %>">&nbsp <%= x.name %></option>
                    <% end %>
                  </select>
                </li>
               </div>
          </ul>
        </fieldset>
        </center>
      </div>
     </div>
     <div class="col-md-1"></div>
    </form>
  </div>
</header>

<!-- 이재철코드 -->
<% if flash[:alert].present? %>
  <div class="col-md-12 alert alert-danger"><%= flash[:alert] %></div>
<% end %> 
<!-- 이재철코드 -->


<%= render :partial => 'popup' %>
<%= render :partial => 'style/main_headercss' %>


 
<script type="text/javascript">
	
$(function(){
  
  $("#search").on("click", function(){
		$.ajax({
			type:"get",
			url:"/home/filter2?" + 'region=' + $('#region_select').val() 
			+ '&school=' + $('#school_select').val() 
			+ '&btime=' + $('#btime_select').val() 
			+ '&category=' + $('#category_select').val()
			+ '&s_word=' + $('#s_word').val(),
			datatype:"html",
			success:function(r){
				$("#main_contents").empty();
				$("#main_contents").append("<style>"+r+"</style>");
			},
			error:function(){
				alert("데이터를 가져오지 못하였습니다.");
			},
		});
  })
  
  $("#region_select, #school_select, #btime_select, #category_select").on("change", function(){
		$.ajax({
			type:"get",
			url:"/home/filter2?" + 'region=' + $('#region_select').val() 
			+ '&school=' + $('#school_select').val() 
			+ '&btime=' + $('#btime_select').val() 
			+ '&category=' + $('#category_select').val(),
			datatype:"html",
			success:function(r){
				$("#main_contents").empty();
				$("#main_contents").append("<style>"+r+"</style>");
			},
			error:function(){
				alert("데이터를 가져오지 못하였습니다.");
			},
		});
  })
  
})


/*
//(function() {
  $(document).ready(function() {
    
    
    var searchOptions = {
      filter1: 1,
      // filter2: 2,
      // filter3: 3,
      // filter4: 4
    };
    
    $('#region_select').on('change', function() {
    var selected_value = $(this).val();
    searchOptions.filter1 = selected_value;
    triggerSearch();
    });
  
    // $('#school_select').on('change', function() {
    // var selected_value = $(this).val();
    // searchOptions.filter2 = selected_value;
    // triggerSearch();
    // });
  
    // $('#time_select').on('change', function() {
    //   var selected_value = $(this).val();
    //   searchOptions.filter3 = selected_value;
    //   triggerSearch();
    // });
    
    // $('#type_select').on('change', function() {
    //   var selected_value = $(this).val();
    //   searchOptions.filter4 = selected_value;
    //   triggerSearch();
    // });
    
    
    function triggerSearch() {
      $.ajax({
        url: '//json_test' + '?' + $.param(searchOptions),
        method: 'GET',
        beforeSend: function() {
          $('#ajax_target .bongsas').html('');
        },
        success: function(data, textStatus, jqXHR) {
          for(var i in data) {
            $('#ajax_target .bongsas').append('' +
            '<div class="bongsas__item">' +
            '<div class="bongsas__item__name">' + data[i].name + '</div>' +
            '</div>' + 
            '</div>');
          };
        },
        error: function(data, textStatus, jqXHR) {
          alert('error massege');
        }
      });
    }
    
  });
//})()
*/
</script>