
  
<header role="banner" class="header header--home">
  
  <div class="wrapper">
    
    <div class="row header__top">
      <div calss="col-md-12">
          <form class="navbar-form navbar-right" id="form_s" role="search">
              <!--<button id="search" class="navbar__search__first">검색</button>-->
              <div class="form-group">
                <input type="text" class="navbar__search" name="s_word" id="s_word" onchange="hideIcon(this);" placeholder="ex) 벽화봉사">
              <img src="/img/teamprofile/search.png"/>
              <div>
          </form>
      </div>
    </div>
    
    <div class="col-md-12 header__title"> <img src="img/ic_logo/logo_caligraphy_1024px_white.png" style="width:20%; height:20%; margin-bottom:-4%">
     <br>  
      <font style="font-size:30px;">
        <font style="font-size=40px;">
          <%= @total_view_count %>
        </font>
          &nbsp명이 방문하였습니다.
      </font>
    </div>
    
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <form action="#">
          <div class="row">
            <fieldset class="fieldset_list">
              <ul>
                <div class="col-md-3">
                  <li class="wantlist">
                    <select name="region" id="region_select">
                      <option selected="selected" value="empty">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp지역</option>
                      <% Region.all.each do |x| %>
                        <option value="<%= x.id %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= x.name %></option>
                      <% end %>
                    </select>
                  </li>
                </div>
  
                <div class="col-md-3">
                  <li class="wantlist">
                    <select name="school" id="school_select">
                      <option selected="selected" value="empty">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp대학교</option>
                      <% School.all.each do |x| %>
                        <option value="<%= x.id %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= x.name %></option>
                      <% end %>
                    </select>
                  </li>
                </div>
                  
                <div class="col-md-3">
                  <li class="wantlist">
                    <select name="btime" id="btime_select">
                      <option selected="selected" value="empty">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp시간</option>
                      <% Btime.all.each do |x| %>
                        <option value="<%= x.id %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= x.name %></option>
                      <% end %>
                    </select>
                  </li>
                </div>
                  
                <div class="col-md-3">
                  <li class="wantlist">
                    <select name="category" id="category_select">
                      <option selected="selected" value="empty" class="filternamecss">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp봉사종류</option>
                      <% Category.all.each do |x| %>
                        <option value="<%= x.id %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= x.name %></option>
                      <% end %>
                    </select>
                  </li>
                </div>
                  
              </ul>
            </fieldset>
          </div>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>  
</header>

<!-- 이재철코드 -->
<%# if flash[:alert].present? %>
  <!--<div class="col-md-12 alert alert-danger"><%#= flash[:alert] %></div>-->
<%# end %> 
<!-- 이재철코드 -->


<%#= render :partial => 'popup' %>
<%= render :partial => 'style/main_headercss' %>

<script type="text/javascript">
	
  $(function(){
     //onKeypress="javascript:if(event.keyCode==13) {dongCheck();}"
    $("#form_s").submit(function(){
      $.ajax({
    			type:"get",
    			url:"/home/filter?" + 'region=' + $('#region_select').val() 
    			+ '&school=' + $('#school_select').val() 
    			+ '&btime=' + $('#btime_select').val()
    			+ '&category=' + $('#category_select').val()
    			+ '&s_word=' + $('#s_word').val(),
    			datatype:"html",
    			success:function(r){
    				$("#main_contents").empty();
    				$("#main_contents").append("<style>"+r+"</style>");
    			},
    			error:function(){
    				alert("데이터를 가져오지 못하였습니다.");
    			},
    		});
    		return false;
    });
  
    $("#search").on("click", function(){
  		$.ajax({
  			type:"get",
  			url:"/home/filter?" + 'region=' + $('#region_select').val() 
  			+ '&school=' + $('#school_select').val() 
  			+ '&btime=' + $('#btime_select').val() 
  			+ '&category=' + $('#category_select').val()
  			+ '&s_word=' + $('#s_word').val(),
  			datatype:"html",
  			success:function(r){
  				$("#main_contents").empty();
  				$("#main_contents").append("<style>"+r+"</style>");
  			},
  			error:function(){
  				alert("데이터를 가져오지 못하였습니다.");
  			},
  		});
    })
    
    $("#region_select, #school_select, #btime_select, #category_select").on("change", function(){
  		$.ajax({
  			type:"get",
  			url:"/home/filter?" + 'region=' + $('#region_select').val() 
  			+ '&school=' + $('#school_select').val() 
  			+ '&btime=' + $('#btime_select').val() 
  			+ '&category=' + $('#category_select').val()
  			+ '&s_word=' + $('#s_word').val(),
  			datatype:"html",
  			success:function(r){
  				$("#main_contents").empty();
  				$("#main_contents").append("<style>"+r+"</style>");
  			},
  			error:function(){
  				alert("데이터를 가져오지 못하였습니다.");
  			},
  		});
    })
    
  })
</script>