<%= render :partial => 'home/main_navbar_general' %>

<% 
  arr = ['매일','월','화','수','목','금','토','일']
%>

<%
  unless @b.date_recruit_end.nil?
    today = Time.zone.now.to_date
    
    td = today - @b.date_recruit_end
    td = td.to_i
    
    if td > 0
      @b.status="모집종료"
      @b.save
    end
  end
%>

<!-- 이거슨 팝업창 -->
<%# if flash[:alert].present? %>
  <!--<div class="col-md-12 alert alert-danger"><%#= flash[:alert] %></div>-->
<%# end %>
<!-- Tables ================================================== -->
<% 
  unless (@b.date_recruit_end.nil? && @b.date_recruit_start.nil?)
    d_day = ( Date.parse("#{@b.date_recruit_end}") - Date.parse(Time.zone.now.to_s)).to_i
    s_day = ( Date.parse(Time.zone.now.to_s) - Date.parse("#{@b.date_recruit_start}") ).to_i 
  end
  if d_day <= -1
    dd_day = (0 - d_day).to_s + "일 지남"
  elsif d_day == 0
    dd_day = "Today"
  elsif @b.is_recruit_always
    dd_day = "상시모집"
  else
    dd_day = "D - " + d_day.to_s
  end
%>
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">
    <div class="row">
      <p class="bongsa_img_title"><strong><%= @b.name %></strong>
      <button class="dday_btn"><strong>
      <% if @b.date_recruit_end %>
        <%= dd_day %>
      <% elsif @b.is_recruit_always %>
        <%= "상시모집" %>
      <% else %>
        D-?
      <% end %>
      </strong></button>
      <%#= @b.status %>
      <% if d_day > 3 && s_day >= 0 %>
        <button class="term_btn">모집중</button>
      <% elsif d_day > 3 && s_day < 0 %>
        <button class="term_btn">모집예정</button>
      <% elsif d_day <= 3 && d_day >= 0 %>
        <button class="term_btn">마감임박</button>
      <% elsif d_day < 0 %>
        <button class="term_btn">모집종료</button>
      <% end %>
      </p>
    </div>
    
    <div class="col-md-12 col-sm-12">
      <div class="col-md-5 col-sm-5 col-xs-12"><img src="<%= @b.img_main %>" alt="img" class="bongsa_img"></div>
      <div class="info_box col-md-7 col-sm-7 col-xs-12">
        <p class="bongsa_sub_inform">
          <strong>모집기간</strong>
          <span class="bongsa_sub"><%= @b.date_recruit_start.to_s + " ~ " + @b.date_recruit_end.to_s unless (@b.date_recruit_end.nil? && @b.date_recruit_start.nil?)%></span>
        </p>
        <p class="bongsa_sub_inform">
          <strong>활동기간</strong>
          <span class="bongsa_sub"><%= @b.date_real_start.to_s + " ~ " + @b.date_real_end.to_s unless (@b.date_real_end.nil? && @b.date_real_start.nil?) %></span>
        </p>
        <p class="bongsa_sub_inform">
          <strong>봉사시간</strong>
          <span class="bongsa_sub"><%= @b.time_expect_total %></span>
        </p>
        <p class="bongsa_sub_inform">
          <strong>활동지역</strong>
          <span class="bongsa_sub"><%= @b.address %></span>
        </p>
        <p class="bongsa_sub_inform_confirm">
          <strong>인증서발급유무</strong>
            <span class="bongsa_sub_confirm">
            <%= "X" if !@b.is_approval %>
            <%= "O" if @b.is_approval %>
            </span>
        </p>
        <a href="/baguni/bucket_save/<%= @b.id %>">
          <button class="bongsa_choice">찜하기</button>
        </a>
        <a href="<%= @b.link unless @b.link.nil? %>">
          <button class="bongsa_apply">신청하기</button>
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-8">
        <p class="bongsa_intro"><%= @b.summary %></p>
      </div>
      <div class="col-md-4"></div>
    </div>
  <div class="col-md-2"></div>

  <center>
    <img src="/img/img_more_horizontal.png" class="info_more"/>
  </center>

  <div class="row col-md-12 col-sm-12 col-xs-12">
    <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
    <!--  <div class="info_group">-->
    <!--    <div class="section_icon_area">-->
    <!--      <img class="ic_bongsa_inform" src="/img/ic_category/ic_category01_target.png"/>-->
    <!--    </div>-->
    <!--    <div class="section_contents">-->
    <!--    	<span class="section_title"><strong>모집대상</strong></span>-->
    <!--    	<textarea class="section_text"><%= @b.vltr_req %></textarea><br>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <% unless @b.bongsa_times.count == 0 %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info_group">
          <div class="section_icon_area">
            <img class="ic_bongsa_inform" src="/img/ic_category/ic_category02_hours.png"/>
          </div>
          <div class="section_contents">
          	<span class="section_title"><strong>상세봉사일정</strong></span>
          	<p class="section_text">
          	<table>
              <% @b.bongsa_times.each do |y| %>
                <tr>
                  <td class="day_head">
                    <%#= arr[y.time_type ]  %>
                    <%= y.time_type %>
                  </td>
                  <td class="day_time">
                    <%= y.time_start %> ~
                    <%= y.time_end %>
                  <td>
                </tr>
              <% end %>
            </table>
          	</p><br>
          </div>
        </div>
      </div>
    <% end %>
  <!--</div>-->
  <!--<div class="row col-md-12 col-sm-12 col-xs-12">-->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category03_date.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>모집기간</strong></span>
        	<p class="section_text">
        	<% if @b.is_recruit_always %>
        	  상시모집
        	<% else %>
        	  <%= @b.date_recruit_start %> ~ <%= @b.date_recruit_end %>
        	<% end %>
        	</p><br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category04_location.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>활동지역</strong></span>
        	<p class="section_text"><%= @b.address %></p><br>
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--<div class="row col-md-12 col-sm-12 col-xs-12">-->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category05_activitydate.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>활동기간</strong></span>
        	<p class="section_text"><%= "비" if !@b.is_regular %>정기<br><%= @b.date_real_start %> ~ <%= @b.date_real_end %> </p><br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category06_manager.png"/>
        </div>
        <div class="section_contents">
        	<span class="section_title"><strong>담당자</strong></span>
        	<p class="section_text">
        	  <% unless @b.clerk_name.nil? %>
        	    <%= "이름 : " + @b.clerk_name %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_call.nil? %>
        	    <%= "연락처 : " + @b.clerk_call %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_email.nil? %>
        	    <%= "이메일 : " + @b.clerk_email %>
        	    <br>
        	  <% end %>
        	  <% unless @b.clerk_link.nil? %>
        	    <%= "링크 : " + @b.clerk_link %>
        	    <br>
        	  <% end %>
        	</p><br>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row col-md-12 col-xs-12">-->
  <!--  <div class="col-md-10 col-xs-10">-->
  <!--    <div class="info_group">-->
        <!--<div class="section_icon_area">-->
        <!--  <img class="ic_bongsa_inform" src="/img/ic_category/ic_category07_bonus.png"/>-->
        <!--</div>-->
        <!--<div class="section_contents_8">-->
        <!--	<span class="section_title"><strong>활동혜택</strong></span>-->
        <!--	<p class="section_text">-->
        <!--	<% if @b.incentive.nil? %>-->
        <!--	  --->
        <!--	<% else %>-->
        <!--	  <%= @b.incentive %>-->
        <!--	<% end %>-->
        <!--	</p><br>-->
        <!--<div class="col-md-2"></div>-->
        <!--</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="row col-md-12 col-xs-12">
    <div class="col-md-10 col-xs-10">
      <div class="info_group">
        <!--<div class="section_icon_area">-->
        <!--  <img class="ic_bongsa_inform" src="/img/ic_category/ic_category08_link.png"/>-->
        <!--</div>-->
        <!--<div class="section_contents_8">-->
        <!--	<span class="section_title"><strong>관련링크(클릭하면 해당 페이지로 이동합니다.)</strong></span>-->
        <!--	<p class="section_text">-->
        <!--    <% @b.bongsa_links.each do |y| %>-->
        <!--      <a style="color:black;" href="<%= y.url %>"><%= y.name %></a><br>-->
        <!--    <% end %>-->
        <!--	</p><br>-->
        <!--</div>-->
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <% if @b.content_etc.length >= 1 %>
  <div class="row col-md-12 col-xs-12">
    <div class="col-md-10 col-xs-10">
      <div class="info_group">
        <div class="section_icon_area">
          <img class="ic_bongsa_inform" src="/img/ic_category/ic_category09_other.png"/>
        </div>
        <div class="section_contents_8">
        	<span class="section_title"><strong>기타사항</strong></span>
        	<%= simple_format(@b.content_etc, class: 'section_text') %>
        	<br>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <% else %>
  <% end %>



  <!--<div class="col-md-6">-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>모집대상</strong></span>-->
  <!--    	<p class="section_text">신한생명 보험 20대 가입자</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_sex.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>모집기간</strong></span>-->
  <!--    	<p class="section_text"><%= @b.date_recruit_start %> ~ <%= @b.date_recruit_end %></p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_info.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>활동기간</strong></span>-->
  <!--    	<p class="section_text">정기인지 or 비정기 / 몇일부터 몇일까지인지. </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>봉사시간</strong></span>-->
  <!--    	<p class="section_text">요일별로 몇시부터 몇시까지 or 무관하고 기타 여러가지 경우 포함가능하게.</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>활동지역</strong></span>-->
  <!--    	<p class="section_text">정형화된 카테고리 지역 넘어서 디테일하게 입력할 수 있도록</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>담당자</strong></span>-->
  <!--    	<p class="section_text">이름 or 전화 or 메일 or 링크</p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="col-md-12"><!--리스트 형식으로 작성되는 경우에는 ul 태그 li li 해서 앞에 쩜 띄워줄 수 있게.-->
    <!--<div class="info_group">-->
    <!--  <div class="section_icon_area">-->
    <!--    <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
    <!--  </div>-->
    <!--  <div class="section_contents">-->
    <!--  	<span class="section_title"><strong>활동혜택</strong></span>-->
    <!--  	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-"</p><br>-->
    <!--  </div>-->
    <!--</div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>관련링크</strong></span>-->
  <!--    	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-" </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="info_group">-->
  <!--    <div class="section_icon_area">-->
  <!--      <img class="ic_bongsa_inform" src="/img/ic/ic_details_location.png"/>-->
  <!--    </div>-->
  <!--    <div class="section_contents">-->
  <!--    	<span class="section_title"><strong>기타사항</strong></span>-->
  <!--    	<p class="section_text">있으면 상세하게 써줄 수 있고, 없으면 "-" </p><br>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  
  
</div>

  <!--POSTER 시작-->
  <center>
   <!--<span class="info_title"><b>POSTER</b></span>-->
   <br class="info_line"><br>
  </center>
  <% unless @b.img_poster.to_s.length <= 1  %>
    <div class="col-md-12 slide slided_poster">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img src="<%= @b.img_poster %>" class="info_poster">
        </div>
        <div class="col-md-2"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
  <% else %>
    <!--<div class="col-md-12 slide slided_poster">-->
    <!--  <center>-->
    <!--    <h1 style="margin-bottom:3%; font-size:40px;">-->
    <!--        <b>해당 포스터가 없습니다</b>-->
    <!--    </h1>-->
    <!--  </center>-->
    <!--</div>-->
  <% end %>

<style>
.slided_img{
  background-image:url('<%= @b.img_main %>');
}
</style>
<!--POSTER 끝-->

 
<%= render :partial => 'home/main_footer' %>