<%= render :partial => 'home/main_navbar' %>

<!-- 이거슨 팝업창 !! -->
<%# if flash[:alert].present? %>
  <!--<div class="col-md-12 alert alert-danger"><%#= flash[:alert] %></div>-->
<%# end %>
<!-- Tables ================================================== -->
<div class="col-md-12 continue slided_img" style="padding-right: 0px;">
  <div class="col-md-12" style="padding-right: 0px; padding-top:1%; padding-left: 0px; background-color: rgba(0, 0, 0, 0.61);">
  <!--봉사명-->
  <div class="col-md-9">
    <p class="m_title" style="margin-bottom:-8px;"><b><%= @b.name %></b></p>
      <div class="col-md-6 m_term">
        <!--모집시작일~모집종료일-->
        <p style="font-size: 21px;">모집 : <%= @b.date_recruit_start %> ~ <%= @b.date_recruit_end %></p>
      </div>
      <div class="col-md-3">
          <!--신청하기-->
          <a href="#">
            <button class="btn btn-block m_btn">
                <b>신청하기</b>
            </button>
          </a>
      </div>
      <div class="col-md-3">
          <!--신청하기-->
          <a href="/baguni/bucket_save/<%= @b.id %>">
              <button class="btn btn-block m_btn" style="background-color:#c75050; margin-left: -94%;">
                  <b>찜하기</b>
              </button>
          </a>
      </div>
    <div class="col-md-4"></div>
  </div>
  <div class="col-md-3"></div>
  </div>
</div>

<br>&nbsp</br>
<br>&nbsp</br>
<br>&nbsp</br>

    
<div class="col-md-12 slide continue slided_circles">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <center>
      <div class="col-md-12" style="padding:0px;">
        <!--동그라미 봉사시간-->
        <div class="circle circle-bongsa_time" style="padding:3.4% 0% 3.4% 0%;">
          <p><%= @b.time_expect_total %>H</p>
        </div>
        <!--동그라미 디-데이-->
        <div class="circle circle-d_day" style="padding:3.4% 0% 3.4% 0%;">
          <p>
            <% if Date.parse("#{@b.date_recruit_end}")<Date.today %>
              마감
            <% else %>
              D<%= (Date.parse("#{@b.date_recruit_end}") - (Date.today)).to_i %>
            <% end %>
          </p>
        </div>
        <!--동그라미 활동지역-->
        <div class="circle circle-activ_region" style="padding:3.4% 0% 3.4% 0%;">
          <p style="margin-top:5%"><%= Region.find(@b.region_id).name %></p>
        </div>
        <!--동그라미 인증서발급여부-->
        <div class="circle circle-printable_doc" style="padding:3.4% 0% 3.4% 0%;">
          <p>V</p>
        </div>
      </div>
    </center>

    <center>
      <div class="col-md-12" style="margin-bottom:100px;">
        <div class="circle_name circle_name-bongsa_time">
          <p class="key_variable_name" style="margin-left: 18%;">봉사 시간</p>
        </div>
        <div class="circle_name circle_name-d_day">
          <p class="key_variable_name" style="margin-left: 8%;">D-day</p>
        </div>
        <div class="circle_name circle_name-activ_region">
          <p class="key_variable_name" style="margin-left: -7%;">활동 지역</p>
        </div>
        <div class="circle_name circle_name-printable_doc">
          <p class="key_variable_name" style="margin-right: 24%;">인증서</p>
        </div>
      </div>
    </center>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="col-md-12 slide continue slided_detail">
  <center>
    <h1 style="margin-bottom:70px; font-size:40px;">
        <b>세  부  내 용</b>
    </h1>
  </center>

<div class="col-md-12 col-sm-12">
    <!--지역-->
    <div class="col-md-6">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <img src="/img/ic/icon_location.png" class="info_icon" style="width:44px; margin-right: 5px;">
        <b class="info_title" style="line-height: 1.8;">&nbsp지역</b>
      </div>
      <div class="row">
        <p class="info_content" style="padding-left: 13%;">&nbsp<%= Region.find(@b.region_id).name %></p>
      </div>
    </div>
    </div>
    <!--지역-->
    <!--지원가능성별-->
    <div class="col-md-6">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <img src="/img/ic/icon_gender.png" class="info_icon" style="width:44px; margin-right: 5px;">
        <b class="info_title" style="line-height: 1.8;">&nbsp지원가능성별</b>
      </div>
      <div class="row">
        <p class="info_content" style="padding-left: 13%;">
          &nbsp<% if  @b.vltr_sex  == 1 %>
            <span>남자</span>
          <% elsif  @b.vltr_sex  == 2 %>
              <span>여자</span>
          <% else %>
              <span>무관</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <!--지원가능성별-->
</div>
<div class="col-md-12 col-sm-12">
    <!--실제 봉사 기간-->
    <div class="col-md-6">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <img src="/img/ic/icon_time.png" class="info_icon" style="width:44px; margin-right: 5px;">
        <b class="info_title" style="line-height: 1.8;">&nbsp실제 봉사 기간</b>
      </div>
      <div class="row">
        <p class="info_content" style="padding-left: 13%;">&nbsp<%= @b.date_real_start %> ~ <%= @b.date_real_end %></p>
      </div>
    </div>
    </div>
    <!--실제 봉사 기간-->
    <!--담당자 연락처-->
    <div class="col-md-6">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <img src="/img/ic/icon_people.png" class="info_icon" style="width:44px; margin-right: 5px;">
        <b class="info_title" style="line-height: 1.8;">&nbsp담당자 연락처</b>
      </div>
      <div class="row">
        <p class="info_content" style="padding-left: 13%; margin-bottom:24px;">
          <%= @b.clerk_name %>/<%= @b.clerk_call %>
        </p>
      </div>
    </div>
  </div>
  <!--담당자 연락처-->
</div>
<div class="col-md-12 col-sm-12">
    <!--지원가능 상세 조건-->
    <div class="col-md-10">
    <div class="col-md-2 col-sm-2">&nbsp</div>
    <div class="col-md-8 col-sm-8" style="margin-left: 28px;">
      <div class="row">
        <img src="/img/ic/ic_requirement_100px.png" class="info_icon" style="width: 44px; margin-right:5px;">
        <b class="info_title" style="line-height: 1.8;">&nbsp지원가능 상세 조건</b>
      </div>
      <div class="row">
        <p class="info_content" style="padding-left: 8%;">&nbsp<%= @b.vltr_req %></p>
      </div>
    </div>
    </div>
</div>
    <!--지원가능 상세 조건-->
    <!--상세내용-->
<div class="col-md-12 col-sm-12">

  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8" style="margin-bottom: 15px;">
    <div class="row">
      <img src="/img/ic/icon_info.png" class="info_icon" style="width:44px; margin-right: 5px;">
      <b class="info_title" style="line-height: 1.8;">&nbsp상세내용</b>
    </div>
    <div class="row">
      <p class="info_content_content" style="padding-left: 7%; margin-bottom: 10px;">
          <%= @b.content %>
        </p>
    </div>  
  </div>
  
    <!--<div class="row">-->
    <!--<div class="col-md-2"></div>-->
    <!--<div class="col-md-10">-->
    <!--  <div class="row">-->
    <!--    <p class="info_content_content" style="padding-left: 25%; margin-bottom: 10px;">-->
    <!--      <%= @b.content %>-->
    <!--    </p>-->
    <!--  </div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
  <!--상세내용-->

    
    <!--<br>&nbsp</br>-->

    <!--지원가능 성별-->
    <!-- <div class="col-md-6">-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--  <div class="col-md-8 col-sm-8">-->
    <!--    <img src="/img/ic/icon_gender.png" class="info_icon">-->
    <!--    <b class="info_title" style="line-height: 1.8;">&nbsp지원가능성별</b>-->
    <!--    <br>-->
    <!--    <span class="info_content">-->
    <!--    &nbsp<% if  @b.vltr_sex  == 1 %>-->
    <!--      <span>남자</span>-->
    <!--    <% elsif  @b.vltr_sex  == 2 %>-->
    <!--        <span>여자</span>-->
    <!--    <% else %>-->
    <!--        <span>무관</span>-->
    <!--    <% end %>-->
    <!--  </span>-->
    <!--  </div>-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--</div>-->
    <!--지원가능 성별--> 
    
    <!--<br>&nbsp</br>-->
    
    <!--실제 봉사 기간-->
    <!-- <div class="col-md-6">-->
    <!--  <div class="col-md-4 col-sm-4"></div>-->
    <!--  <div class="col-md-8 col-sm-8">-->
    <!--    <img src="/img/ic/icon_time.png" class="info_icon">-->
    <!--    <b class="info_title" style="line-height: 1.8;">&nbsp실제 봉사 기간</b>-->
    <!--    <br>-->
    <!--    <span class="info_content">-->
    <!--    &nbsp<span><%= @b.date_real_start %> ~ <%= @b.date_real_end %></span>-->
    <!--  </span>-->
    <!--  </div>-->
    <!--</div>-->
    <!--실제 봉사 기간-->
    
    <!--담당자 연락처-->
    <!--<div class="col-md-6">-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--  <div class="col-md-8 col-sm-8">-->
    <!--    <img src="/img/ic/icon_people.png" class="info_icon">-->
    <!--    <b class="info_title" style="line-height: 1.8;">&nbsp담당자 연락처</b>-->
    <!--    <br>-->
    <!--    <span class="info_content">-->
    <!--    &nbsp<span><%= @b.clerk_name %>/<%= @b.clerk_call %></span>-->
    <!--  </span>-->
    <!--  </div>-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--</div>-->
    <!--담당자 연락처-->
    
    <br>&nbsp</br>
    
    <!--지원가능 상세 조건-->
    <!-- <div class="col-md-12">-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--  <div class="col-md-8 col-sm-8">-->
    <!--    <img src="/img/ic/ic_requirement_100px.png" class='info_icon_big'>-->
    <!--    <b class="info_title" style="line-height: 1.8;">&nbsp지원가능 상세 조건</b>-->
    <!--    <br>-->
    <!--    <span class="info_content">-->
    <!--    &nbsp<span><%= @b.vltr_req %></span>-->
    <!--  </span>-->
    <!--  </div>-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--</div>-->
    <!--지원가능 상세 조건-->
    
    <!--<br>&nbsp</br>-->
    
    <!--상세내용-->
    <!-- <div class="col-md-12">-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--  <div class="col-md-8 col-sm-8">-->
    <!--    <img src="/img/ic/icon_info.png" class='info_icon_big'>-->
    <!--    <b class="info_title" style="line-height: 1.8;">&nbsp상세내용</b>-->
    <!--    <br>-->
    <!--    <span class="info_content">-->
    <!--    &nbsp<span><%= @b.content %></span>-->
    <!--  </span>-->
    <!--  </div>-->
    <!--  <div class="col-md-2 col-sm-2"></div>-->
    <!--</div>-->
    <!--상세내용-->
    
    <br>&nbsp</br>
    

  
</div>
      
<!--
___________________________________________________

===================================================
  이 'slided_poster' 은 선택시 보여주는걸 추천함.
-->
<%  if @b.img_poster == " " %>
<div class="col-md-12 slide slided_poster">
  
  <center>
    <h1 style="margin-bottom:3%; font-size:40px;">
        <b>모집 포스터</b>
    </h1>
  </center>
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img src="<%= @b.img_poster %>" width="100%" height="auto" width=95.5%;>
    </div>
    <div class="col-md-2"></div>
    </div>
    <div class="col-md-1"></div>
    
</div>
<%else%>

    <h1 style="margin-bottom:3%; font-size:40px;">
        <b>해당 포스터가 없습니다.</b>
    </h1>
<% end %>



<!-- footer랑 이미지랑 붙이려고 약간 바꿨어요 --!>
  <%= render :partial => 'home/main_footer_information' %>
<!-- 여기까지 --!>

<%= render :partial => 'style/bongsa_informationcss' %>