<%= render :partial => 'home/main_navbar' %>

<!-- Tables
================================================== -->
<center>
<section id="tables">
  <div class="page-header">
    <h1>봉사 상세정보</h1>
    <button><a href="/baguni/bucket_save/<%= @b.id %>">신청내역으로 스크랩</a></button>
    <button><a href="/">홈으로</a></button>
  </div>
  
  <strong>
  <table class="table table-bordered table-striped table-hover bongsa_information_css">
    <thead>
      <tr>
        <th class="center center_width table_head">구분</th>
        <th class="center table_head">세부내용</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td class="center center_width">봉사명</td>
        <td><%= @b.name %></td>
      </tr>
      <tr>
        <td class="center center_width">봉사 기관명</td>
        <td><%= Organization.find(@b.organization_id).name %></td>
      </tr>
      <tr>
        <td class="center center_width">모집인원</td>
        <td><%= @b.vltr_num %></td>
      </tr>
      <tr>
        <td class="center center_width">지역</td>
        <td><%= Region.find(@b.region_id).name %></td>
      </tr>
      <tr>
        <td class="center center_width">봉사시간</td>
        <td>Time</td>
      </tr>
      <tr>
        <td class="center center_width">모집시작일 ~ 마감일</td>
        <td><%= @b.date_recruit_start %> ~ <%= @b.date_recruit_end %></td>
      </tr>
      <tr>
        <td class="center center_width">봉사 시작일 ~ 종료일</td>
        <td><%= @b.date_real_start %> ~ <%= @b.date_real_end %></td>
      </tr>
      <tr>
        <td class="center center_width">봉사 시작시간 ~ 종료시간</td>
        <td><%= @b.time_daily_start %> ~ <%= @b.time_daily_end %></td>
      </tr>
      <tr>
        <td class="center center_width">총 획득 예상시간</td>
        <td><%= @b.time_expect_total %></td>
      </tr>
      <tr>
        <td class="center center_width">인근학교</td>
        <td><%= School.find(@b.school_id).name %></td>
      </tr>
      <tr>
        <td class="center center_width">지원가능 상세조건</td>
        <td><%= @b.vltr_req %></td>
      </tr>
      <tr>
        <td class="center center_width">봉사활동 상세내용</td>
        <td><%= @b.content %></td>
      </tr>
      <tr>
        <td class="center center_width">담당자 연락처</td>
        <td><%= @b.clerk_call %></td>
      </tr>
      <tr>
        <td class="center center_width">정기/비정기</td>
        <td><%= "정기" if @b.is_regular %></td>
      </tr>
      <tr>
        <td class="center center_width">정기/비정기</td>
        <td>Mark</td>
      </tr>
      <tr>
        <td class="center center_width">봉사유형</td>
        <td><% Category.find(@b.category_id).name %></td>
      </tr>
      <tr>
        <td class="center center_width">사전교육 유/무</td>
        <% if @b.is_edu %>
        <td>유</td>
        <% else %>
        <td>무</td>
        <% end %>
      </tr>
      <tr>
        <td class="center center_width">모집현황</td>
        <td><%= @b.status %></td>
      </tr>
      <tr>
        <td class="center center_width">지원가능 성별</td>
        <td><%= @b.vltr_sex %></td>
      </tr>
    </tbody>
  </table>
  </strong>
</section>
</center>


<style>
 .bongsa_information_css {width: 42%;
                         }
.center {text-align:center;
        }
.center_width {width: 27%;}
.table_head {background-color: pink;
            color: white;
            font-size: 15px;}
</style>


        
        
<!-- 건들지마삼 -->        
        
<!--이창우 파트 건들지마삼 건들면 싸대기 -->        



<div class="row" "title">
  <p>자기 소개서 쓰러가기</p>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">봉사 지원서 쓰러가기</div>
  <div class="panel-body">
    
    <div class="recruit-header">
      <div class="col-md-2 name">
            <p>기관명</p>
            
      <div class="row">
      <p><%= Organization.find(@b.organization_id).name %> </p>
      </div>
      </div>
      
      <div class="col-md-4 part">
          <p> 봉사명</p>
          <div class="row">
            <p><%= @b.name %></p>
          </div>
      </div>
      
      <div class="col-md-2 magam">
          <p> 모집기간 </p>
          <div class="row">
            <p><%= @b.date_recruit_start %> ~ <%= @b.date_recruit_end %></p>
          </div>
      </div>
    
      <div class="col-md-2 magam">
          <p> 시간 </p>
      </div>
    
      <div class="col-md-2 magam">
          <p> 지원서 쓰기 </p>
          <div class="row">
            <button class="btn btn-default btn-block">
                                 지원서 쓰러가기</button>
          </div>
      </div>
    
    </div>
    
  </div>

  <!-- Table -->
  <table class="table">
    ...
  </table>
</div>