<% bb = Bongsa.find(params[:id]) %>



<!--수정 입력 데이터 폼-->
  <center><h1><strong>"<%= bb.name %>"</strong>의<br> 봉사 정보를 수정하는 곳입니다.</h1></center>
  <form action="/home/data_modify_save/<%= bb.id %>" enctype="multipart/form-data" method="POST">
  <input type="hidden" name="input_admin" value="<%= current_user.email %>">
  <br>
  <center>  
    <div class="table-responsive admin_table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table_title">#</th>
              <th class="table_content">&nbsp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table_title">메인에 보여지는 사진</td>
              <td class="table_content"><input type="file" name="bongbongimg"></td> <!-- Mainimage-->
            </tr>
            <tr>
              <td class="table_title">봉사명</td>
              <td class="table_content"><input type="text" name="name" value="<%=bb.name%>" style="width: 86%;"></td>
            </tr>
            <tr>
              <td class="table_title">봉사기관명</td>
              <td class="table_content"><input type="text" name="org_name" value="<%=bb.org_name%>"></td>
            </tr>
            <tr>
              <td class="table_title">모집인원</td>
              <td class="table_content"><input type="text" name="how_many" value="<%=bb.how_many%>"></td>
            </tr>
            <tr>           
              <td class="table_title">봉사지역</td>
              <td class="table_content"><input type="text" name="region" value="<%=bb.region%>"></td>
            </tr>
            <!-- 창우가 추가함 -->
            <tr>           
              <td class="table_title">봉사시간</td>
              <td class="table_content"><input type="text" name="time" value="<%=bb.time%>"></td>
            </tr>
            <!-- 이부분 -->
            <tr>
              <td class="table_title">모집시작일</td>
              <td class="table_content"><input type="text" name="date_mozip_start" value="<%=bb.date_mozip_start%>"></td>
            </tr>
            <tr>
              <td class="table_title">모집마감일</td>
              <td class="table_content"><input type="text" name="date_mozip_end" value="<%=bb.date_mozip_end%>"></td>
            </tr>
            <tr>
              <td class="table_title">봉사 시작일</td>
              <td class="table_content"><input type="text" name="date_real_start" value="<%=bb.date_real_start%>"></td>
            </tr>
            <tr>
              <td class="table_title">봉사 종료일</td>
              <td class="table_content"><input type="text" name="date_real_end" value="<%=bb.date_real_end%>"></td>
            </tr>
            <tr>
              <td class="table_title">하루 봉사 시작시각</td>
              <td class="table_content"><input type="text" name="time_daily_start" value="<%=bb.time_daily_start%>"></td>
            </tr>
            <tr>
              <td class="table_title">하루 봉사 종료시각</td>
              <td class="table_content"><input type="text" name="time_daily_end" value="<%=bb.time_daily_end%>"></td>
            </tr>
            <tr>
              <td class="table_title">총 획득 예상시간</td>
              <td class="table_content"><input type="text" name="time_expect_total" value="<%=bb.time_expect_total%>"></td>
            </tr>
            <tr>
              <td class="table_title">대학교</td>
              <td class="table_content"><input type="text" name="school" value="<%=bb.school%>"></td>
            </tr>
            <tr>
              <td class="table_title">봉사활동 상세내용</td>
              <td class="table_content"><textarea name="content" style="height: 200px; width: 400px;" value="<%=bb.content%>"></textarea></td>
            </tr>
            <tr>
              <td class="table_title">담당자 연락처</td>
              <td class="table_content"><input type="text" name="clerk_call" value="<%=bb.clerk_call%>"></td>
            </tr>
            <tr>
              <td class="table_title">정기/비정기</td>
              <td class="table_content">
                <select name="regular">
                  <option value="0" selected="selected">미지정</option>
                  <option value="1">정기</option>
                  <option value="2">비정기</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="table_title">봉사유형</td>
              <td class="table_content">
                <select name="ctgory">
                  <option value="0" selected="selected" >분야 미지정</option>
                  <option value="1">교육봉사</option>
                  <option value="2">재능봉사</option>
                  <option value="3">노력봉사</option>
                  <option value="4">해외봉사</option>
                  <option value="5">기타봉사</option>
              </select>
              </td>
            </tr>
            <tr>
              <td class="table_title">사전교육 유/무</td>
              <td class="table_content">
                <select name="pre_edu"> 
                  <option value="3" selected="selected" >선택안함</option>
                  <option value="1">사전교육 있음</option>
                  <option value="2">사전교육 없음</option>
              </select>
              </td>
            </tr>
            <tr>
              <td class="table_title">모집현황</td>
              <td class="table_content">
                <select name="status">
                  <option value="3" selected="selected" >선택안함</option>
                  <option value="0">모집 예정</option>
                  <option value="1">모집 중</option>
                  <option value="2">모집 종료</option>
              </select>
              </td>
            </tr>
            <tr>
              <td class="table_title">지원가능 성별</td>
              <td class="table_content">
                <select name="vltr_sex">
                    <option value="3" selected="selected" >성별</option>
                    <option value="0">남자</option>
                    <option value="1">여자</option>
                    <option value="2">무관</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="table_title">비고</td>
              <td class="table_content"><textarea type="text" name="vltr_req" value="<%=bb.vltr_req %>" style="height: 70px; width: 400px;"></textarea></td>
            </tr>
            <!--비고는 input에서 textarea로 바꾸자고 했는데, 수정 페이지에서 textarea로 바꾸면 기존에 썼던 내용을 확인할 수 없음-->
            <tr>
              <td class="table_content" style="text-align: right;" colspan="2" >
                <input type="submit" value="수정하기">
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        </center>  
      </form>
            
            
  <style>
  .table_title {width: 29%;}
  .admin_table {width: 600px;}
</style>          
            
<br>
<br>
<br>
<br>
<br>
<br>
<br>
     
            <br><input type="text" name="name" value="<%=bb.name%>"> <== 봉사명 / string<br>
            <br><input type="file" name="bongbongimg"> <== Mainimage
            <br><input type="text" name="region" value="<%=bb.region%>"> <== 지역 / string
            <br><br>
            <h5>분야 / integer</h5>
            <select name="ctgory">
                <option value="0" selected="selected" >분야 미지정</option>
                <option value="1">교육봉사</option>
                <option value="2">재능봉사</option>
                <option value="3">노력봉사</option>
                <option value="4">해외봉사</option>
                <option value="5">기타봉사</option>
            </select><br>
            <br><input type="text" name="content" value="<%=bb.content%>"> <== 상세 내용 / text
            <br>
            <br><input type="file" name="fosterimg"> <==  포스터 이미지 / string
            <br>
            <br><input type="text" name="date_mozip_start" value="<%=bb.date_mozip_start%>"> <== 시작일 / string(추후 달력이나 최소한 SelectOption으로 구현 예정)<br>
            <br><input type="text" name="date_mozip_end" value="<%=bb.date_mozip_end%>"> <== 종료일 / string(추후 달력이나 최소한 SelectOption으로 구현 예정)
            <br>
            <br><input type="text" name="org_name" value="<%=bb.org_name%>"> <== 주관 / string<br>
            <br><input type="text" name="clerk" value="<%=bb.clerk%>"> <== 담당자 / string
            <br><br><br>
            <h5>사전교육 유/무 / integer( 0=없음 / 1=있음 )</h5>
            <select name="pre_edu"> 
                <option value="3" selected="selected" >선택안함</option>
                <option value="1">사전교육 있음</option>
                <option value="2">사전교육 없음</option>
            </select><br><br><br>
            <h5>모집현황( 모집중=1, 모집예정=0, 모집종료=2) / integer</h5>
            <select name="status">
                <option value="3" selected="selected" >선택안함</option>
                <option value="0">모집 예정</option>
                <option value="1">모집 중</option>
                <option value="2">모집 종료</option>
            </select>
            <br>
            <br><input type="text" name="vltr_age" value="<%= bb.vltr_age %>"> <== 지원가능 연령(추후 범주로 지정가능하게 구현 예정. SelectOption ) / integer(나이 숫자만 입력!!! 문자나 기호 안됨;;; 기본 포멧은 "N세 이상"으로 N을 입력.)
            <br><br><br><h5>지원가능 성별 / integer( 0=남자 / 1=여자 / 2=무관 )</h5>
            <select name="vltr_sex">
                <option value="3" selected="selected" >성별</option>
                <option value="0">남자</option>
                <option value="1">여자</option>
                <option value="2">무관</option>
            </select>
            <br><br><br>
            <br><input type="text" name="vltr_req" value="<%=bb.vltr_req %>"> <== 지원가능 상세조건 / text
            <br>
            <br><input type="submit" value="수정하기"><br><br><br><br><br><br><br><br><br><br><br><br>
        </form>