<div class="blank"></div>

<% @region = params[:region] if @region.nil? && !params[:region].nil? %>
<% @school = params[:school] if @school.nil? && !params[:school].nil? %>
<% @btime = params[:btime] if @btime.nil? && !params[:btime].nil? %>
<% @category = params[:category] if @category.nil? && !params[:category].nil? %>
<% @s_word = params[:s_word] if @s_word.nil? && !params[:s_word].nil? %>

<%= @region %><br>
<%= @school %><br>
<%= @btime %><br>
<%= @category %><br>
<!--봉사정보-->
<br>
<div class="row">
    <div class="col-md-1"></div>
            
    <%  k = 6 
        k = Bongsa.count if k < Bongsa.count %>
    <% if @s_word.nil? && @region == "empty" && @school == "empty" && @btime == "empty" && @category == "empty" %>
        <% Bongsa.all.sample(k).each do |b| %>
            <div class="col-md-3">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><%= b.name %></div>
                        <div class="panel-body">
                           <%= b.region %><br>
                         <img src="<%= b.bongsa_img %>" style="width:100%; height:270px;">
                        </div>
                        <div class="panel-footer">
                        <a href="/home/bongsa_information/<%= b.id %>">
                            <button class="btn btn-default btn-block">
                                 더보기</button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <% Bongsa.all.each do |b| %>
            <div class="col-md-3">
                <div>
                    <% next if !(@s_word.nil?) && b.name.inlcude?(@s_word) %>
                    <% next if @region != "empty" && @region.to_i != b.region_id %>
                    <% next if @school != "empty" && @school.to_i != b.school_id %>
                    <% next if @btime   != "empty" && @btime.to_i   != b.btime_id %>
                    <% next if @category != "empty" && b.category_id != @category.to_i %>
                    <div class="panel panel-default">
                        <div class="panel-heading"><%= b.name %></div>
                        <div class="panel-body">
                            <%= Region.find(b.region_id).name %><br>
                            <img src="<%= b.img_bongsa %>" style="width:100%; height:270px;">
                        </div>
                        <div class="panel-footer">
                            <a href="/home/bongsa_information/<%= b.id %>">
                                <button class="btn btn-default btn-block">
                                    더보기
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>   
    <div class="col-md-1"></div>
</div>


<!--봉사달력-->

<div class="row background-img">
    <br><br><i class="fa fa-calendar"></i>
        <a href = 'home/calender'><p> 봉사달력 보러가기 </p></a>
</div>
<!--봉사달력-->

<%= render :partial => 'style/main_contentcss' %>