<!--layout 적용 안함-->  
<!-- 한글패치 -->
  <meta charset="utf-8">
  <title>봉사꾼</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 드롭바용 제이커리 -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> 
  <!-- 아이콘용 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!--글씨체 한나체로 변경-->
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css'>
      <style>
        body {
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Noto Sans', sans-serif;}
      </style>
  <%= render :partial => 'style/index' %>
</head>
<body class="col-md-12 gray">
  <div class="col-md-1"></div>
    <div class="col-md-10 color" style="padding:0px;">
      <%= yield %>
    </div>
  <div class="col-md-1"></div>
<!--layout 적용 안함-->
  
  
<% 
@region = params[:region] if !params[:region].nil? && params[:region]!="empty" # 정확한 값이 있다면
@school = params[:school] if !params[:school].nil? && params[:school]!="empty"
@category = params[:category] if !params[:category].nil? && params[:category]!="empty"
@btime = params[:btime] if !params[:btime].nil? && params[:btime]!="empty"
@s_word = params[:s_word] if !params[:s_word].nil? && params[:s_word]!="empty"
%>

<%
        first = 0
        tmp = ""
        check = Proc.new {|x|
            if first == 0
                first = 1
            else
                tmp += " AND "
            end
            tmp += "#{x}"
        }
        
        check.call "name LIKE \"%#{@s_word}%\"" unless @s_word.nil?
        check.call "region_id LIKE \"#{@region}\"" unless @region.nil?
        check.call "school_id LIKE \"#{@school}\"" unless @school.nil?
        check.call "btime_id LIKE \"#{@btime}\"" unless @btime.nil?
        check.call "category_id LIKE \"#{@category}\"" unless @category.nil?
        @bongsa = Bongsa.where("#{tmp}")
%>
<%#= @s_word %>
<%#= @region %>
<%#= @school %>
<%#= @btime %>
<%#= @category %>
<div class="blank"></div>
<div id="ajax_target">
  <div class="bongsas"></div>
</div>

<!--메인 컨텐츠-->
<br>

<div class="col-md-12">
  <center>
    <!--/컨텐츠 카드 시작-->
    <% @bongsa.each do |b| %>
      <a href="/home/bongsa_information/<%= b.id %>">
        <div class="col-md-4 row_main_content hvr-border-fade">
          <!-------------------------------------------------------------
          아래는 컨텐츠 카드/  [사진 ㄴ> 봉사기간, 봉사명 ]  /코드입니다 
          -------------------------------------------------------------->
          <div class="col-md-12" style="padding:0px;">
            <img src="<%= b.img_main %>" alt="이미지" style="width:100%; height:258px; margin-top:0px;">
            
            <% if b.name.nil? %>
              <center>봉사명이 없습니다.</center>
            <% else %>
              <span class="side_info__title">
                <span><%= b.date_real_start %> ~ <%= b.date_real_end %></span> 
                  <p class="main_content__title">
                <strong><%= b.name %></strong>
                </p>
              </span>
            <% end %>
          </div>
          
          <!-------------------------------------------------------------
              아래는 컨텐츠 카드/  [시간 | 지역 | 디데이]  /코드입니다 
          -------------------------------------------------------------->
          <div class="col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">총 봉사시간</p>
              <p class="ptag_bottom_css"><%= b.time_expect_total %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">지역 </p>
              <p class="ptag_bottom_css"><%= Region.find(b.region_id).name %></p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 main_content__content"></br>
              <p class="ptag_up_css">모집마감</p>
              <p class="ptag_bottom_css">D-<%= (Date.parse(Time.now.to_s)  -  Date.parse("#{b.date_recruit_end}")).to_i %></p>
              <!--<p style="color:#000000; font-size:18px;"> ~ <%#= b.date_real_end %></p>-->
            </div>  
          </div>
        </div>
      </a>
    <% end %>
    <!--/컨텐츠 카드 끝-->
  </center>
</div>

<!-- 봉사정보 더 보기 코드입니다 -->

</br></br>
  <center>
    <div class="bongsa_more">
      <button id="bongsa_more_btn"><strong>봉사정보 더보기</strong></button>
    </div>
  </center>
</br>

<!-- 무한스크롤 JSON -->
<script type="text/javascript" src="/jquery.jscroll.min.js"></script>
<script type="text/javascript">
   $(function(){
      $("#bongsa_more_btn").on("click", function(){
          $.ajax({
      			type:"get",
      			url:"/home/filter?" + 'region=' + $('#region_select').val() 
      			+ '&school=' + $('#school_select').val() 
      			+ '&btime=' + $('#btime_select').val() 
      			+ '&category=' + $('#category_select').val()
      			+ '&s_word=' + $('#s_word').val(),
      			datatype:"html",
      			success:function(r){
      				$("#main_contents").empty();
      				$("#main_contents").append("<style>"+r+"</style>");
      			},
      			error:function(){
      				alert("데이터를 가져오지 못하였습니다.");
  		    	},
	      	});
        });
      });
</script>


<!--봉사달력-->

<br><br>
<center>
  <div class="row">
    <a href = '/calendar/index'>
      <i class="fa fa-calendar-check-o fa-3x"></i>
    </a>
    <p style="font-size:25px; text-align:center; color:#512da7; margin-top: 5px;">
      <a href = '/calendar/index' style="color:#512da7;">
        <b> 봉사달력 보러가기</b>
      </a>
    </p>
  </div>
</center>
<br><br>



<!-- Main Content CSS -->
<%= render :partial => 'style/main_contentcss' %>
<%= render :partial => 'home/main_footer' %>
