<%= render :partial => 'home/main_navbar_general' %> 


<div class="col-md-12">
  <div class="col-md-3"> <!-- 앞부분 col3 -->
    <div class="col-md-3"></div>
    <center>
      <div class="col-md-9 user_box">
        <% if current_user.picture.length == 0 %>
        <button class="mypage_profile"><img src="/img/ic_logo/ic_login_user_32px.png"></button>
        <% else %>
        <button class="mypage_profile"><%= current_user.picture %></button>
        <% end %>
        <p class="mypage_name"><%= current_user.name %></p>
        <p class="mypage_user_email"><%= current_user.email %></p>
      </div>
    </center>
  </div>
  
  <div class="col-md-9" style="border-left: 1px solid black;">  <!-- 뒷부분 col9 -->
  <!--프로필box 시작-->
    <div class="profile_box rows">
      <p class="profile_title">프로필</p>
      <p class="under_title"></p>
      <div class="row col-md-12">
        <div class="row col-md-12" style="margin-bottom: 4%">
        
          <div class="col-md-4">
            <p class="profile_sub_title"><strong><img src="/img/ic_logo/user_school_24px.png"/>&nbsp&nbsp&nbsp학교</strong></p>
            <p class="profile_sub_title"><strong><img src="/img/ic_logo/user_phone_24px.png"/>&nbsp&nbsp&nbsp연락처</strong></p>
            <p class="profile_sub_title"><strong><img src="/img/ic_logo/user_email_24px.png"/>&nbsp&nbsp&nbsp이메일</strong></p>
            <p class="profile_sub_title"><strong><img src="/img/ic_logo/mypage_lock_24px.png"/>&nbsp&nbsp&nbsp비밀번호</strong></p>
            <p class="profile_sub_title"><strong><img src="/img/ic_logo/mypage_lock_24px.png"/>&nbsp&nbsp&nbsp비밀번호 확인</strong></p>
          </div>
          
          <div class="col-md-8" style="margin-top: 1%;">
            <form action="/user/mypage_confirm" method="POST">
              <p class="profile_sub_info">
                <% if current_user.school.length > 1
                  aaa = current_user.school 
                else
                  aaa = "상지대학교"
                end %>
                <input type="text" class="col-md-6 profile_sub_info" name = "school" placeholder="<%= aaa %>">  
              </p><br>
              <p class="profile_sub_info">
                <% if current_user.phonenumber != nil && current_user.phonenumber.length > 1
                  bbb = current_user.phonenumber
                else
                  bbb = "01011112222"
                end %>
                <input type="text" class="col-md-6 profile_sub_title_edit" name = "phonenumber" placeholder="<%= bbb %>">
              </p><br>
              <p class="profile_sub_info"><%= current_user.email %></p>
              <p class="profile_sub_info"><input type="password" class="col-md-6" name = "password" placeholder="********"></p><br>
              <p class="profile_sub_info"><input type="password" class="col-md-6" name = "confirm_password" placeholder="********"></p>
              <button type="submit" class="profile_sub_modify"><img src="/img/ic_logo/profile_pencil_24px.png"/>&nbsp&nbsp수정</button>
            </form>
          </div>
          
        </div>
        
      </div>
      
    </div>
<!--프로필box 끝    -->

<!--봉사history 시작-->
    
    <div class="volunteer_history_box rows">
      <%= render partial: 'history/edit' %>
    </div>
    
<!--봉사history 끝-->

<!--수상 및 표창 시작-->
    <div class="volunteer_career_box rows">
    <%= render partial: 'career/edit' %>
    </div>
    <!--<% ary = "x.id" %>-->
    <!--<div class="career_box rows">-->
    <!--  <p class="career_title">수상 및 표창</p>-->
    <!--  <p class="under_title"></p>-->
    <!--    <div class="row col-md-12">-->
    <!--      <form action="/career/d_career">-->
    <!--      <% current_user.careers.each do |x| %>-->
    <!--      <input type="checkbox" class="volunteer_work_name" name="chk_info" value=<%= x.id %> > <%=x.name%><br>-->
    <!--      <% end %>-->
          
    <!--      <button type="submit">제거</button><br>-->
    <!--      </form>-->
            
          
    <!--    <div class="col-md-12" style="margin-top: 2%;">-->
    <!--      <form action="/career/index/" method="POST">-->
    <!--      <input type ="text" class="volunteer_work_name" name ="name">-->
    <!--      <b>&nbsp&nbsp<img src="/img/ic_logo/mypage_career_plus_24px.png" class="mypage_career_plus"/>-->
    <!--      <input type="submit" class="edit_icon" value="등록" placeholder="수상내용"></b>-->
    <!--      </form>-->
    <!--    </div>-->
    <!--   </div>-->
    <!--</div>-->
<!--수상 및 표창 끝-->

<!--자기소개 시작-->
    <div class="col-md-12">&nbsp</div>
    <div class="self_intro_box">
      <p class="self_intro_title">자기소개</p>
      <p class="under_title"></p>
        <form action="/user/mypage_confirm/">
        <textarea class="self_intro_box" rows="4" cols="40" name="intro" placeholder="<%= current_user.intro %>"></textarea>
        <button type="submit" class="profile_sub_modify"><img src="/img/ic_logo/profile_pencil_24px.png"/>&nbsp&nbsp수정</button>
       </form>
    </div>
<!--자기소개 끝-->
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <center>
      <a href="/user/mypage"><button class="go_mypage_edit"><b>수정완료</button></a>
    </center>
  </div>
</div>
</div>

<%= render :partial => 'home/main_footer' %>