<!DOCTYPE html>
<html>
<head>
  
<!-- 한글패치 -->
  <meta charset="utf-8">
  <title>봉사꾼</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 드롭바용 제이커리 -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script> 
  <!-- 아이콘용 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- 480 481-767 768-979 980-1199 1200 -->
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/-480.css" media="all and (max-width:480px)">
  <link rel="stylesheet" href="/css/481-767.css" media="all and (min-width:481px) and (max-width:767px)">
  <link rel="stylesheet" href="/css/768-979.css" media="all and (min-width:768px) and (max-width:979px)">
  <link rel="stylesheet" href="/css/980-1199.css" media="all and (min-width:980px) and (max-width:1199px)">
  <link rel="stylesheet" href="/css/1200-.css" media="all and (min-width:1200px)">
  <!--noto sans 폰트 -->
  <!--글씨체 한나체로 변경-->

  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
      <style>
        body {
            @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
            font-family: 'Noto Sans KOR','Noto Sans CJK KR','Noto Sans KOR' sans-serif;
            }
      </style>

  <%= render :partial => 'style/index' %>

</head>
<!--====================================================================================================-->

<!--                              이거 뭐땀시 붙여놓은 코드인가요-->
                              
                              
    <!--<body class="gray">-->
     <%#= render partial: 'home/main_navbar' %>
    <!--  <div class="row">-->
    <!--    <div class="col-md-1 col-xs-1"></div>-->
    <!--    <div style="padding:0px;" class="col-xs-10 col-md-10 color"><%#= yield %></div></div>-->
    <!--    <div class="col-md-1"></div>-->
    <!--  </div>-->
    <!-- Jquery cd
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    
<!--====================================================================================================-->

<body class="color">

  <!--<div class="col-md-1"></div>-->
      <%= yield %>
  <!--><div class="col-md-1"></div>-->

</body>
</html>
